[2016-03-07 19:02] thejameskyle commented on #296
Moving from the existing api to this events api to a visitor api is non-linear, I think you could introduce a visitor-based api on top of what exists today without diving too deep on parsing a more detailed AST.

I would recommend against doing this as it's just api thrashing.

[2016-03-07 20:26] danielbayley commented on #495
:+1:

Hopefully I can figure out how to get this into [atom-language-postcss-sugarss](https://github.com/danielbayley/atom-language-postcss-sugarss) asap…

[2016-03-07 21:25] ai commented on #296
@ben-eb do we have any benefits with object-style API (when you put events name as object keys), rather than listener API (when you can a `.on()` method)?

[2016-03-07 21:40] thejameskyle commented on #296
Visitors is a well defined pattern that you can reuse easily. Creating multiple visitors and performing traversals in not uncommon. For an example [see this bit about handling state in Babel](https://github.com/thejameskyle/babel-handbook/blob/master/translations/en/plugin-handbook.md#state).

Also, visitors are much easier to optimize as they are a static thing. Babel has an optimization where it

[2016-03-08 04:55] ai commented on #495
SugarSS code base was finished: https://github.com/postcss/sugarss

I am writing a docs and converting tool right now.

[2016-03-08 07:27] ai commented on #753
I will close for now.

[2016-03-08 07:27] #753 closed

[2016-03-08 07:45] ai commented on #756
Done f9a266d

[2016-03-08 09:30] TrySound commented on #756
@ai source exists if object. Not exists if string.

[2016-03-08 09:53] dbox commented on #495
Thanks for the all the work @ai!

[2016-03-08 10:03] ai commented on #756
@TrySound I tested both cases :).

[2016-03-08 12:38] Saturate commented on #240
To fix https://github.com/sindresorhus/gulp-autoprefixer/issues/55 we need this.

I did a pull-request **(https://github.com/sindresorhus/gulp-autoprefixer/pull/61)** but as seen in the comments from the owner, it should be fixed here, as other plugin authors will benefit as well, from this change.

[2016-03-08 12:40] ai commented on #240
@Saturate can you make a PR here?

[2016-03-08 12:44] Saturate commented on #240
@ai I'll have a look at it later.

[2016-03-08 12:55] corysimmons commented on #495
:tada:

[2016-03-08 23:22] #756 closed

[2016-03-08 23:41] danielbayley commented on #495
[atom-language-postcss-sugarss](https://atom.io/packages/language-postcss-sugarss) is up now. It's really just scaffolding at this point though as it just extends the existing Sass syntax highlighting. Any help is welcome…

[2016-03-09 00:00] ai commented on #495
@danielbayley you are fast :). Awesome work. I added it to SugarSS README.md and installed to local machine for test highlights :).

[2016-03-09 02:12] ai commented on #495
SugarSS 0.1 was released. Please try and post your feedbpack: https://github.com/postcss/sugarss

[2016-03-09 02:12] #495 closed

[2016-03-09 13:51] iamvdo opened #763 "CSSSyntaxError no longer instanceof Error"
Change occurs between 5.0.12 and 5.0.13. Can't find why.

Test code:
[code]

Is it intended ?

[2016-03-09 13:56] ai commented on #763
Yeap. But JS is not a class language, it is prototype language. So public API is only `err.name === 'CssSyntaxError'`

[2016-03-09 13:56] #763 closed

[2016-03-09 15:30] iamvdo commented on #763
OK, but it used to work, so I don't get why it's no longer the case. No matter.

[2016-03-09 23:28] ai commented on #763
@iamvdo problem was in Babel 6. It had some issues with class extending.

[2016-03-10 00:17] ai commented on #240
@Saturate it is last version for 5.1 release :)

[2016-03-10 11:04] MoOx opened #764 "Plugins order"
We have to fix this. I am so tired of being wrong postcss config with autoprefixer as the first plugin, before other transformation.
We have to do something. Very bad UX. We waste our times to explain the same thing all the times. Most postcss/cssnext tutorial are wrong.

[2016-03-10 11:07] ai commented on #764
This task is duplicate for Event based API.

I totally agree, that it is one of the biggest problem in PostCSS right now. But I asked for some technical committee leader as we did in postcss.org.

[2016-03-10 11:07] #764 closed

[2016-03-10 11:09] MoOx commented on #764
You mean that you want all existing plugin to be updated before doing anything?
You are not likely to ship this changes in a near future, and most plugins will not be updated right after it, so maybe we should do something now until the entire ecosystem has been updated?

[2016-03-10 11:11] lkraav commented on #764
Can someone point me to what the underlying problem is? It's the first I've heard of this topic.

[2016-03-10 11:12] ai commented on #764
@lkraav https://github.com/postcss/postcss/issues/296

[2016-03-10 11:13] ai commented on #764
@MoOx yeap, I want to implement new also knowed as “visitors” API and they we need to rewrite all plugins to it. it will dramatically fix many plugin order conflicts in PreCSS.

Do you have any other ideas? What is a “autoprefixer as the first plugin” problem?

[2016-03-10 11:14] MoOx commented on #764
Current problem example:

plugin list: autoprefixer, postcss-import

autoprefixer is executed before other transformation (so inlined import), so inlined import rules won't be prefixed.

This is a really common mistake.

[2016-03-10 11:16] ai commented on #764
@MoOx as quick fix you can print a warning. Like have a blacklist of most popular plugins and warn users about having plugin before postcss-import.

[2016-03-10 11:19] MoOx commented on #764
A note is wrote in bold in the very first start of the README. But nobody read that. Well I will try to add a warning (not using the postcss api since most people don't have the correct reporter)... But that's kind of gross... Same thing for all plugin packs etc.

[2016-03-10 11:21] ai commented on #764
@MoOx yeap, nobody read a docs :(. Sorry, I have no other ideas, only Event Based API.

[2016-03-10 20:03] resting opened #766 "TypeError: Cannot read property 'on' of undefined"
I'm getting the error below when I include the `postcss` pipe.
Not sure what's wrong.

    TypeError: Cannot read property 'on' of undefined
    at DestroyableTransform.Readable.pipe (/node_modules/through2/node_modules/readable-stream/lib/_stream_readable.js:535:7)
    at Gulp.<anonymous> (/gulpfile.js:9:10)
    at module.exports (/node_modules/orchestrator/lib/runTask.js:34:7)
    at Gulp.Orches

[2016-03-10 20:37] tarikihm commented on #240
While this is being looked at, should an extensions array option be added as well? See: https://github.com/postcss/postcss-import/pull/52 and https://github.com/outpunk/postcss-modules/issues/13

Haven't looked in depth at the proposed solutions yet, but perhaps a simple and elegant solution would be to handle file resolving in PostCSS rather than passing down additional parameters to the plugins,

[2016-03-10 22:36] ai commented on #766
Ask in [gulp-postcss](https://github.com/postcss/gulp-postcss) repo.

[2016-03-10 22:36] #766 closed

[2016-03-10 23:17] ai commented on #240
@tarikihm `sourceRoot` it is a thing only for source map. It is not relevant for looking paths from this issues.

[2016-03-11 03:25] tarikihm commented on #240
Got it, sorry I skimmed through a bit too quickly, still, is there a way to avoid having to pass file resolving options to each plugin? Would it make sense that it gets handled/supervised by PostCSS?

[2016-03-11 03:43] ai commented on #240
@tarikihm open a new issue for it.

[2016-03-11 05:50] TrySound commented on #766
@resting `on` is stream method, not sass.
[code]

[2016-03-11 09:10] w0rm commented on #766
@TrySound `sass()` is a transform stream, so it should extend EventEmitter

[2016-03-11 09:39] ben-eb commented on #766
Your original code is missing a few parentheses.

[code]

Have a look into http://eslint.org/ so that you can catch these mistakes more easily. :smile:

[2016-03-11 09:50] resting commented on #766
@ben-eb 👍you're the man!

[2016-03-11 14:33] azat-io opened #767 "Plugin request: Remove unused styles from CSS"
It'll be very helpful if in PostCSS there will be some plugin to remove unused styles like in [UnCSS](https://github.com/giakki/uncss). Can we do something like this using PostCSS and maybe something like PostHTML?

Because using UnCSS after PostCSS works very slow and Gulpfile.js looks dirty:

[code]

[2016-03-11 15:00] TrySound commented on #767
/cc @ben-eb

[2016-03-11 15:01] ben-eb commented on #767
UnCSS uses PostCSS now.

https://github.com/giakki/uncss/blob/master/package.json#L44

[2016-03-11 15:03] sevenupcan commented on #434
I've been trying to use PostCSS with web components and it's not easy. The main issue I've run into is that web components use one file to store css, html and js. The only viable way I can think of is to use a build tool to convert all your css, html and js into one file. It's not pretty or easy to work with, but only solution I can think of. Would love to see example where someone has set this up

[2016-03-11 16:26] #767 closed

[2016-03-12 01:13] ai commented on #767
@ben-eb Awesome!

[2016-03-12 01:14] ai commented on #434
@sevenupcan you can use webpack and style-loader to put CSS into JS file.

But yes, it will be better to have out-of-box solution.

[2016-03-12 01:25] ai commented on #480
I think to move all `API.md` to some sort of JSDoc comments on this sunday.

What format and tool is best? @ben-eb @MoOx @jedmao

@marcustisater what requirements do you have for usging this API on postcss.org?

[2016-03-12 01:36] jedmao commented on #480
@ai I already implemented all the API docs as JSDoc comments in my [typescript branch](https://github.com/jedmao/postcss/tree/typescript). See [`node.ts`](https://github.com/jedmao/postcss/blob/typescript/lib-ts/node.ts) as an example. All it requires is a simple `tsc` command to build `.es6` files from the TypeScript source and all the documentation is there.

That said, I've only used Visual Stu

[2016-03-12 01:44] jedmao commented on #480
@ai I created a jsdoc branch. See the comparison here: https://github.com/postcss/postcss/compare/master...jedmao:jsdoc

[2016-03-12 01:45] ai commented on #480
@jedmao when I will create a JSDocs in `.es6`, I can remove it from `.ts` files? Visual Studio will look into `.es6` first?

[2016-03-12 01:46] jedmao commented on #480
@ai, I should mention that the branch is just the transpiled result of my [typescript branch](https://github.com/jedmao/postcss/tree/typescript) source code.

[2016-03-12 08:37] marcustisater commented on #480
I'm not very familiar with JSDocs but I don't think that shouldn't be any problems, however we would need markdown files.

@ai - I was just about to open an issue about syncing documentation(.md files) between [postcss](https://github.com/postcss/postcss) and [postcss.org](https://github.com/postcss/postcss.org).

[2016-03-12 08:38] ai commented on #480
@marcustisater when 5.1 will be released, link to `docs/api.md` will return 404 ;). We need to generate API page for postcss.org by JSDoc. Are we ready for it?

[2016-03-12 08:48] marcustisater commented on #480
How far are you from the release of 5.1? We haven't started the development for basic pages yet so if the time runs short maybe we can forward from postcss.org with a link to somewhere?

[2016-03-12 08:51] ai commented on #480
I decide to make 5.1 very small release so I can release it on next week.

But if postcss.org will not be ready, we can set a link to old commit on GitHub.

[2016-03-12 08:52] ai commented on #480
@marcustisater or we can generate API page without any special style as temporary solution

[2016-03-12 09:02] marcustisater commented on #480
Yeah, I was thinking about that as well. The most important thing is that it's accessible for users so a "temporary" page for postcss.org is the best choice here. I will open issue.

[2016-03-12 23:47] tunnckoCore commented on #480
Try https://github.com/verbose/verb or directly use `assemble` for the website - they are proved.

[2016-03-13 09:07] #630 closed

[2016-03-14 07:05] MoOx opened #768 "Cannot use es2015 destructuring in plugin option"
[code]

This throw an error. It seems in the core (I don't know why but I have an idea), you are "trying" plugin before they are actually used, and you call those with no options. I lost like an hour to trace this issue.
Why are you doing this during registration? What if plugin MUST have options (in my case it must).
I have to add an ugly workaround to hide this undesired plugin call without argu

[2016-03-14 07:09] ai commented on #768
Yes, it is a limits of current API. We can think how to fix it in 6.0. But it will be possible only if plugin builder (function which accepts options) will be somewho different from plugin itself (maybe with new visitors API).

[2016-03-14 07:11] ai commented on #768
Hm. Our Or maybe we can fix it in 5.1. I think a have a idea how to avoid `builder.postcss` creating.

[2016-03-14 07:28] TrySound commented on #768
@MoOx Wil this help?
[code]

[2016-03-14 07:30] MoOx commented on #768
Thanks but no. This is not a fix, this is a workaround... :p

[2016-03-14 07:35] TrySound commented on #768
@MoOx But it still should be if you want to use destructuring in arguments to error correctly if even object is not passed.

[2016-03-14 07:39] MoOx commented on #768
This is a private plugin.

[2016-03-14 12:10] prettydiff opened #770 "Add PostCSS to Pretty Diff beautifier"
I would like to add Post CSS support to the Pretty Diff beautifier.  Is there a collection of unique Post CSS code samples or unit tests that I could run through Pretty Diff to identify current gaps in support?

[2016-03-14 12:19] ai commented on #770
PostCSS is just a CSS parser :). There difference with standard CSS parse is that PostCSS parser ignore many issues.

1. Property names can contain any symbols. For example, it can start from `$`.
2. Parser do not check a context. So properties can be in the root. Or rules can be inside another rule.

So, main difference example will be:

[code]

[2016-03-14 12:19] ai commented on #770
Here is a tests that we use in many PostCSS parsers: https://github.com/postcss/postcss-parser-tests/tree/master/cases

[2016-03-14 13:04] prettydiff commented on #770
Awesome, this request came from the Atom Beautify project so once I verify everything is solid support for PostCSS will enter Atom (via Atom Beautify) as well

https://github.com/Glavin001/atom-beautify/issues/855

[2016-03-14 17:03] jedmao commented on #480
Once we have the JSDoc comments, we can generate documentation pages with [YUIDoc](http://yui.github.io/yuidoc/) or something similar.

[2016-03-14 18:57] marcustisater commented on #480
Just a quick wrap up from our [discussion](https://github.com/postcss/postcss.org/issues/71) at [postcss.org](https://github.com/postcss/postcss.org) to make sure everyone is on the same page.

Our website runs on a markdown engine which means that we would need to get a generated markdown file from you guys to render it on our page. Is that possible to do?

I also have another question; how are w

[2016-03-14 20:35] marcustisater opened #771 "Two-factor authentication"
Hello team,

If you didn’t know we recently migrated the postcss organization to GitHubs [new update](https://github.com/blog/2020-improved-organization-permissions) about a month ago. I think everyone should have received an e-mail about this.

With this update we have let everyone get full ownership access for the organization but this got us thinking of some security measures. Trust is key and

[2016-03-15 03:41] ai commented on #771
I totally agree, that two-factor authentication is very important.

If you will not enable it, we will remove you from organization :).

[2016-03-16 15:08] andyjansson commented on #754
I just wanted to interject with my opinion. As I see it, this type of API could be optional and invoked on-demand, saving us the need to alter the structure of the AST from how it is today.

I imagine something akin to the following:

[code]
This would address @thejameskyle's concern about custom syntax, as well as save us the need to parse each and every node in the tree.

[2016-03-16 15:49] ben-eb commented on #754
I think *we must* parse each and every node. Currently *we don't* do this, which is what I find to be brittle and means that plugins must be run in an exact order; this is not a good developer experience.

[2016-03-16 18:21] andyjansson commented on #754
I don't follow why you think parsing nodes (and by this I mean parsing a rule's selector value into an AST, for instance) is a necessity. I agree that the plugin order thing makes for a poor developer experience, but, as I see it, that issue is not rooted in the lack of an AST for node values, but rather that certain transformations need to have taken place before the plugin can successfully execu

[2016-03-16 20:00] ben-eb commented on #754
It's a necessity because in order to facilitate two ways of writing plugins (querying a node's value tree or querying a node's stringified value), PostCSS needs to maintain a string representation of a node's value (for instance) *as well as* a node tree. So that whichever one is set will update the other, in order to satisfy a plugin's expectations. That seems really inefficient to me as PostCSS

[2016-03-16 20:05] andyjansson commented on #754
And the previous proposed solution to that doesn't satisfy that need?

[code]

[2016-03-16 20:44] thejameskyle commented on #754
@andyjansson I think you aren't understanding the problem completely.

Say we have this selector:

[code]

Then I have plugins for `fn1` and `fn2`

**Solution 1: Run in order**

If we ran `fn1` and then `fn2`, we would run into the issue of `fn1()` trying to resolve `"fn2(fn1(foo))"` which it obviously cant because it does not and should not have any knowledge of `fn2()`.

**Solution 2: Repeatedly

[2016-03-16 21:17] andyjansson commented on #754
@thejameskyle what you just described sounds exactly what I've been talking about...?

I addressed this concern at the bottom of [my post](https://github.com/postcss/postcss/issues/754#issuecomment-197469191)

Yes, I understand that, but this also means that we cannot use custom syntax. In case of, say, postcss-functions, it does resolve depth first.

When I said syntax error earlier, I didn't mea

[2016-03-16 22:19] ben-eb commented on #754
Well.. it does and doesn't. For argument's sake, let's have 20 plugins in the same PostCSS instance that use `var ast = postcss.selector.parse(rule.selector);`. Now, we have a bottleneck because 20 plugins need to parse those selectors and then stringify them. This is what we currently are doing (via postcss-selector-parser), which is inefficient because you have 20 parsing steps and 20 stringifyi

[2016-03-16 22:40] andyjansson commented on #754
Yep, I totally get that.

I'm totally for an AST provided that it doesn't hamper the ability to write values which doesn't follow conventional CSS value syntax (such as the aforementioned postcss-conditionals plugin). I do not see that it would be possible if the AST is the mandatory form of mutation.

If however there are *two* properties, one for string manipulation and the other for AST manipul

[2016-03-17 03:07] thejameskyle commented on #754
If this is all about being able to parse custom syntax there are ways of making that happen without abandoning a detailed AST. CSS is a pretty straightforward syntax to parse, and there are well documented ways of extending parsers to understand more syntax.

But as I believe @ai mentioned before, most of the custom syntax people want doesn't conflict with the syntax that would be parsed by PostCS

[2016-03-18 05:07] #770 closed

[2016-03-20 03:52] shellscape opened #772 "Request: first and last enhancement"
I'd like to request modification of `first` and `last` properties in the `Container` module. Other parsers will allow passing an argument specifying a type to select. eg. `ast.root.first('selector')`.

This would be immensely helpful, though admittedly not critical. Cheers.

[2016-03-20 20:41] LPGhatguy opened #773 "CssSyntaxError is not instanceof Error"
This was discussed [on Gitter](https://gitter.im/postcss/postcss?at=56ef0a128b806f6b7a18d160).

When PostCSS throws a syntax error, the class (`CssSyntaxError`) doesn't inherit from `Error`, which makes it difficult to do a broad-sweep check for any sort of error.

[2016-03-21 06:06] ai commented on #771
@gazay , @magsout , @morishitter , @TrySound , @yisibl I will remove your access if you will not enable Two-factor authentication on GitHub ;).

[2016-03-21 06:12] ai commented on #773
Sorry, Babel still have this issue. Somethings happens with prototype and class loose all its methods.

Maybe you can find the source of issue. I am always open for PR to this issue.

[2016-03-21 06:12] #773 closed

[2016-03-21 06:31] magsout commented on #771
:+1:

[2016-03-21 07:05] TrySound commented on #771
Done.

[2016-03-21 16:33] LPGhatguy commented on #773
Do you have a link to the issue tracked in the Babel repository that corresponds to that problem? It seems like a totally version-breaking bug.

[2016-03-21 16:35] ai commented on #773
@LPGhatguy sorry, I know that it is not fare to talk about issue without a link. But I am making a talk and deadline is just after few days.

Can I ask you to investigate? :) Just open `lib/css-syntax-error.es6` and put `extends Error`. Then execute `gulp build` and you will see broken AST (also broken tests).

[2016-03-21 16:43] LPGhatguy commented on #773
Sure thing, I'll look into it.

[2016-03-22 01:40] davidtheclark opened #774 "Plugin that only runs after a set of PostCSS processes"
I have this conundrum that is plaguing stylelint and postcss-reporter but probably applies to other actual or potential plugins, as well.

The best way to report on stylelint results for a group of files is to generate one report for the whole group, not one report for each file. For example, if I have 100 files, I want to see a total error and warning count for the whole set (34 errors, 20 warnin

[2016-03-22 01:41] shellscape opened #775 "Trailing whitespace inconsistency?"
Consider the following input: `.foo {}\n`
That results in a Rule with: `raws: { before: '', between: ' ', after: '' },`
The parent Root has: `raws: { semicolon: false, after: '\n' },`

That's confusing, considering that the newline immediately follows the Rule. It is true that the Root does have the newline afterwards. However:

Consider the following input: `.foo {}\n .bar {}`
That results in two

[2016-03-22 06:46] ai commented on #774
I think you should create special `gulp-stylelint` :(.

The problem is that even Gulp and Webpack is designed to work with files separately :(.

@w0rm

[2016-03-22 06:49] ai commented on #775
`raws.after` has different semantic. It contains spaces inside block. For example, for rule and at-rule it contains space between last child and `}`.

This is why in `.foo {}\n` rule can’t contains trailing `\n`, because it doesn’t have any fields to it.

[2016-03-22 06:49] #775 closed

[2016-03-22 12:36] shellscape commented on #775
@ai please give a chance to reply before closing an issue!

if that's the case, then wouldn't it be a bug that the last Rule containing `.bar{}` has a `raws.before: '\n'` since it has no rules as well?

[2016-03-22 12:40] ai commented on #775
Don’™ worry, we can always reopen issue :)

[2016-03-22 12:43] ai commented on #775
`before` is a spaces before node, not before opening `{`.

We know about problems with `raws`. But we can’t change names or behavior, because it broke API.

Here is description of every `raw` property: https://github.com/postcss/postcss/blob/master/docs/api.md#noderaws

Here is a issue about refactoring `raws` in 6.0: https://github.com/postcss/postcss/issues/199

[2016-03-22 12:49] shellscape commented on #775
thanks for the api link, not sure how i missed that one. I'll follow #199 as well!

[2016-03-24 14:59] yangfeiloveG opened #778 "function like sass"
Hi,how to define a function like sass syntax？For example  calc  px to rem.

[2016-03-24 15:00] TrySound commented on #778
Yes, you can.
https://github.com/andyjansson/postcss-functions
https://github.com/cuth/postcss-pxtorem

[2016-03-24 17:11] #778 closed

[2016-03-25 02:12] minooo opened #779 "Failed to decode downloaded font && OTS parsing error: invalid version tag"
hello，I have the problem, I don not know how to do with it;
[this is my problem](https://github.com/minooo/CSS-Modules-----React)
when you run `npm install` and `npm start`,open `localhost:5000`
you can see the problem like this
![image](https://cloud.githubusercontent.com/assets/9410091/14010823/a260517c-f1d3-11e5-8bb3-6924ff9fd30a.png)
Any ideas? Thanks so much!

[2016-03-25 08:00] ai commented on #779
Sorry, it is not relevant to PostCSS. PostCSS has no this type of error.

Maybe this answer is relevant: http://stackoverflow.com/questions/34133808/webpack-ots-parsing-error-loading-fonts

[2016-03-25 08:00] #779 closed

[2016-03-25 09:35] minooo commented on #779
thanks very much!

[2016-04-03 01:10] oyeanuj commented on #645
@davidtheclark Did any of the things in your `scut` utility make it as a plugin?

[2016-04-03 22:07] davidtheclark commented on #645
I didn't build any. But feel free to checkout the PostCSS plugin list and possibly build your own.

[2016-04-06 13:55] evilebottnawi opened #782 "media query parse"
Parse `media atrule` on `expression`, `media_type`, `media_feature` (now all in one `params`). https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries

[2016-04-06 14:45] TrySound commented on #782
@evilebottnawi For details info you can use https://github.com/TrySound/postcss-value-parser

[2016-04-07 13:55] cmnstmntmn opened #783 "import style from package.json"
i'm playing with tachyons; i wish i can import it inside my project this way

`@import "~tachyons";`

since the full path to *tachyons.css* exists inside package.json. but i can't
and i have to use the full path `@import "~tachyons/css/tachyons.css";`

any ideea ?

[2016-04-07 14:45] ai commented on #783
Ask [postcss-import](https://github.com/postcss/postcss-import) guys. `postcss` is just a core without any features. All features are in plugins. Plugin for `@import` is `postcss-import`.

Be default `postcss-import` doesn’t support `~` because `postcss-import` is polyfill for W3C spec and can’t support any unofficial extensions. But they have `resolve` callback option, when you can add `~` suppor

[2016-04-07 14:45] #783 closed

[2016-04-07 14:53] cmnstmntmn commented on #783
ty, i'll git it a try

[2016-04-08 08:21] gucong3000 commented on #339
fixed
https://github.com/postcss/postcss/pull/784

[2016-04-08 11:20] gucong3000 commented on #339
[code]

[code]

[code]

[2016-04-08 15:11] marcustisater commented on #771
Closing this issue.

@morishitter @yisibl still missing two-auth.

[2016-04-08 15:11] #771 closed

[2016-04-08 15:32] ai commented on #771
I move @morishitter @yisibl to outside collaborator role.

[2016-04-08 18:25] morishitter commented on #771
@ai I'm so sorry to be late. I just enabled two-factor authentication.

[2016-04-08 18:27] ai commented on #771
@morishitter no problem, I invited you back :)

[2016-04-08 18:47] morishitter commented on #771
@ai Thanks :)

[2016-04-08 19:10] #782 closed

[2016-04-08 19:11] #774 closed

[2016-04-08 19:11] #592 closed

[2016-04-08 19:13] ai commented on #772
Sorry, this change will broke API :(

[2016-04-08 19:13] #772 closed

[2016-04-08 19:13] #661 closed

[2016-04-08 19:58] ai commented on #697
Done https://github.com/postcss/postcss/commit/193e5ae897abb8e7d0c19b5a5312e57d5cbf002e

[2016-04-08 19:58] #697 closed

[2016-04-09 04:27] shellscape commented on #772
How would it break the API if the argument was optional? We do this all the time in javascript...

[2016-04-09 04:42] ai commented on #772
Because right now `first` is a getter, not a method.

[2016-04-10 06:00] LeonFedotov commented on #697
Cool :+1:

[2016-04-10 07:18] yisibl commented on #645
In Houdini CSS we can do this

[code]

[code]

https://www.smashingmagazine.com/author/philipwalton/

[2016-04-11 07:12] andywer opened #786 "Proposal for performance improvement"
Hey there!

I just had a quick thought on how to improve postcss performance, so I am curious for some feedback.

### Right now

Currently when postcss is run it parses the file to an AST and then invokes the plugins sequentially. The postcss plugins iterate over the rules using `Container.walk` and friends. Then the next plugin is invoked, more or less repeating the process applying its own trans

[2016-04-11 07:24] ai commented on #786
It is good idea, but we already work on it for 6.0 release #296

[2016-04-11 07:24] #786 closed

[2016-04-11 07:38] andywer commented on #786
Ohh, nevermind then!

[2016-04-11 16:16] CREEATION commented on #240
@ai @tarikihm is gone, FYI. :disappointed_relieved:

[2016-04-11 18:14] kourge opened #787 "PostCSS import fails in TypeScript with node resolution"
I have a TypeScript project with `"moduleResolution": "node"` in its `tsconfig.json` as well as `postcss` in its `package.json` `devDependency`. When I write the following, it fails at runtime with the message `TypeError: Cannot read property 'parse' of undefined`:

[code]

This is due to a mismatch between the exported JS from `./node_modules/postcss/lib/postcss.js` and the supplied typings at `.

[2016-04-12 05:24] ai commented on #787
Sorry, I don‘t a TypeScript user at all. Maybe @jedmao can help?

[2016-04-12 06:06] jedmao commented on #787
@kourge, do you know how to solve this? I've seen similar issues, but I'm not sure what the correct trendy is.

[2016-04-13 06:59] ai opened #790 "Solution for plugin node cache"
Right now plugins often add custom `_autoprefixerDisabledCache` properties to node’s objects. Of course, it looks dirty.

Maybe we need to add some unique `Node#id`. Plugins will be able to use this ID in local cache object:

[code]

[2016-04-13 12:45] shawninder commented on #80
@ai Does such a wrapper currently exist somewhere?
@jonathanong Did you find a way to do this?

[2016-04-13 12:49] ai commented on #80
@shawninder never see it (probably because PostCSS is anyway too fast and cache invalidation could be a big problem).

[2016-04-14 20:50] kourge commented on #787
@jedmao, on a typings level, I believe if you `export = postcss` it does the right thing.

The problem most people have involves older versions of Babel (i.e. 5) treating `module.exports = m` as `module.export = {default: m}` when importing a module. Babel 6 no longer does this, and in a typeless environment this is not difficult to work around; simply `require('...').default` instead of `require(

[2016-04-14 22:44] jedmao commented on #787
@kourge thanks for the in-depth explanation. I'm playing in the [TypeScript Playground](http://www.typescriptlang.org/play/) to see the generated output in both cases and this is what I'm getting:

### input
[code]

### output
[code]

### input
[code]

### output
[code]

Let me play around with this and see if I can fix my [typescript branch](https://github.com/jedmao/postcss/tree/typescript) to f

[2016-04-14 23:01] jedmao commented on #787
@kourge, the TS compiler doesn't like it, because my compile target is `ES2015`.

![postcss-export-error](https://cloud.githubusercontent.com/assets/1058243/14546409/dbf5ed50-026a-11e6-9c30-ac8880cd08fe.png)

Feel free to submit a PR to my [typescript branch](https://github.com/jedmao/postcss/tree/typescript) that fixes the issue there; however, I haven't been using Node module resolution in my pr

[2016-04-14 23:48] kourge commented on #787
As long as the `postcss` entry point itself directly does `module.exports = f` where `f` is a function, the only way to model this with typings is `export =`. As it is, the purpose of the `"typings"` field in `package.json` is to make Node module resolution work and right now it is broken.

I wonder if this workaround can would work, say, in a theoretical `typings-specific.ts`:

[code]

And have a

[2016-04-14 23:53] jedmao commented on #787
An ES5 target requires a lot of code modification as it stands now, unfortunately.

[2016-04-15 23:49] donabrams opened #792 "Source map support for declaration merging"
I have declarations that I am merging. I want to support source maps. However, when one declaration comes from multiple sources, I am forced to choose one with the current API which will completely screw up the source maps. Here's a snippet that may help.
[code]

Is there a workaround? Do sourcemaps even support this?

[2016-04-16 02:15] ai commented on #792
Source map doesn’t support multiple origins

[2016-04-16 02:15] #792 closed

[2016-04-26 09:16] Termina1 commented on #296
Yet, babel plugins order is unpredictable ([example](http://stackoverflow.com/questions/34618756/babel-plugins-run-order)).

It has good optimisations trying to merge visitors, but I personally don't think it is the best approach as a base case, because every time you have 2 plugins that want to modify same AST parts, the order of them is hidden inside AST and plugins code itself.

In my opinion,

[2016-04-26 17:40] thejameskyle commented on #296
If a plugin is so sensitive that it breaks when the AST gets modified between visitors calls, it's almost always (99.9999% of the time) because the transformation has been written poorly. It's likely holding onto state or making assumptions about the AST.

This approach has actually forced plugin authors to write better quality transformations.

[2016-04-27 08:44] Termina1 commented on #296
@thejameskyle I have a good example: ```babel-plugin-transform-flow-strip-types```, which strips flow types and runs almost always before any other plugin, essentially making any other plugin that want to use flow types useless. It's hard to find out, hard to debug and super unobvious due to the babel plugin running strategy. The only solution as far as I know is option ```passPerPreset```.

The p

[2016-04-27 09:14] francoisromain opened #796 "Question: how to make a bundle from other plugins?"
First, sorry to post this here as this is more a question than an issue.

I would like to bundle a few postcss plugins in a single one

bundle.js:

    import postcss from 'postcss';
    import myPlugin1 from 'postcss-plugin-1';
    import myPlugin2 from 'postcss-plugin-2';
    import myPlugin3 from 'postcss-plugin-3';

    module.exports = postcss.plugin('postcss-bundle', (opts) => {
        cons

[2016-04-27 09:49] #796 closed

[2016-04-27 15:46] thejameskyle commented on #296
If you want that data it should be added to the AST as metadata at the start, not left in as AST nodes. The problem ***is*** that the plugins are more fragile than they should be.

Babel hasn't spent a lot of time working to make the flow experience awesome so things like that are left out.

[2016-04-27 16:08] Termina1 commented on #296
@thejameskyle the AST itself is an information that is being partially lost during transformations

[2016-04-27 17:25] thejameskyle commented on #296
Not if you store it properly

[2016-04-28 07:44] marcustisater commented on #645
I'm moving this discussion over to our new [suggestion box](https://github.com/postcss/postcss-plugin-suggestion-box).

[2016-04-28 07:44] #645 closed

[2016-04-29 07:41] aslushnikov opened #797 "PostCSS reduces SourceMap"
Hi Andrey,

The autoprefixer/postcss turned out to output reduced sourceMap, i.e. it reduces the amount information in the initial sourcemap. The example repo is here: [aslushnikov/autoprefixer-breaks-sourcemap](https://github.com/aslushnikov/autoprefixer-breaks-sourcemap)

SourceMap **without** autoprefixer: [sourceMap](https://sokra.github.io/source-map-visualization/#base64,ZGl2IHsKICBjb2xvcjog

[2016-04-29 07:42] ai commented on #797
It will be fixed when we will tokenize values and selectors in 6.0.

[2016-04-29 22:32] aslushnikov commented on #797
Great, thanks!
cc @paulirish who is interested in this as well.

[2016-04-30 04:08] paulirish commented on #797
Great to hear! We're shipping some awesome sass editing features in devtools and will be excited to demonstrate it working with autoprefixer in the pipeline. :)

cheers

[2016-05-02 10:18] sydneyitguy commented on #383
I get an error with "Error: Unsupported source map encoding charset=utf8;base64"
NOTE that `utf8` instead of `utf-8`

Changed
`let utf64 = 'data:application/json;charset=utf-8;base64,';`
line to
`let utf64 = 'data:application/json;charset=utf8;base64,';`

temporarily fixed the issue. Do you think this is the common case?

[2016-05-02 10:21] ai commented on #383
@sydneyitguy could you explain from beggining, what do you do, show stacktrace.

This codepage is from input source map or PostCSS generates it?

[2016-05-02 10:26] sydneyitguy commented on #383
@ai I guess it's basically the same error with this thread
[code]

packages:
[code]

[2016-05-02 10:27] ai commented on #383
Yeap. Can you open a separated issue?

[2016-05-02 10:28] ai commented on #383
I mean that your error is not relevant to this issue. Same error message, but different source.

[2016-05-02 10:31] sydneyitguy opened #799 "Error: Unsupported source map encoding charset=utf8;base64"
`Error: Unsupported source map encoding charset=utf8;base64`
I tried changing following line on `postcss/lib/previous-map.js:71`
[code]
temporarily fixed the issue.
I guess that should have both charset names to check.

[code]

packages:
[code]

[2016-05-02 10:32] sydneyitguy commented on #383
@ai Ok just created https://github.com/postcss/postcss/issues/799

[2016-05-02 15:56] ai commented on #799
Done 215ed88

[2016-05-02 15:57] ai commented on #799
BTW, how did you get this wrong `utf8` encoding name? Who generate your input source map?

[2016-05-02 16:12] ai commented on #799
Released in 5.0.21

[2016-05-02 18:36] josephfusco commented on #799
Just wanted to point out this also happened to myself today after installing `"gulp-sourcemaps": "^2.0.0-alpha"`

[2016-05-02 19:10] ai commented on #799
@josephfusco so 5.0.21 will fix compatibility with `gulp-sourcemaps 2.0.0-alpha`? Awesome :)

[2016-05-03 00:00] rymohr opened #800 "potential mishandling of double colons"
I'm using postcss to drive a custom style layer for a project I'm working on. Within it we allow pseudo selectors to be assigned as values, such as:

[code]

I expected the above to parse just fine with `:test` as the value but instead I get a `Double colon` error.

Is there any way to work around this using plugins? Or would you be open to a PR that would correct this?

https://github.com/postcss

[2016-05-03 03:51] ai commented on #800
This syntax is invalid CSS. Why you need this syntax and only any other symbol before `test`?

[2016-05-03 12:53] #799 closed

[2016-05-03 12:54] #800 closed

[2016-05-03 19:23] rymohr commented on #800
Thanks, I'm aware of that. We use postcss to drive a custom style engine with a syntax nearly identical to CSS (we use style sheets to drive network visualizations in webgl, not DOM).  The default postcss parser plus a few plugins handles everything else just fine, so it would be a shame to have to fork it for such a minor issue.

For some context, the `:` is required because we have a custom `@se

[2016-05-03 19:25] ai commented on #800
If you want to keep this syntax, you can just fork current parser and fix it for toot case (you can see a example in postcss-safe-parser).

[2016-05-03 19:53] rymohr commented on #800
Thanks.  For now we just preprocess the source and replace any `: :` occurrences with a custom token that doesn't trip the error. Works for now but feels like a hack. It just isn't worth the effort to maintain a parallel fork for such a minor change.

[2016-05-04 07:53] ai commented on #768
Done 18513f5

[2016-05-04 07:53] #768 closed

[2016-05-04 07:54] #621 closed

[2016-05-04 10:21] loick opened #801 "Plugin creation, variables type"
Hi everyone, I got an issue when I created a postcss plugin with the type of the variables.

I created a declaration like this `postcss.decl({ prop: 'padding', value: 0 })`, but after compiling with cssnano, I got a weird issue `decl.value.indexOf is not a function`. After testing almost everything, I found out this was due to the type of my value (so here, an integer).

What do you think about ca

[2016-05-04 11:08] ben-eb commented on #801
Duplicate of https://github.com/postcss/postcss/issues/339.

[2016-05-04 11:08] #801 closed

[2016-05-05 10:49] evilebottnawi opened #803 "walk and case sensitive"
[code]
not work with `@mEdIa` and `@MEDIA` (etc), but is is valid at-rule(in css all at-rules are case insensitive). In https://github.com/stylelint many of the rules begin in similar designs, but some users are using `UPPER` case and rule don't work. What are you doing guys?
Also not parsed correctly `!iMpOrT` and `!IMPORT` (but it is also valid).

[2016-05-05 10:55] ai commented on #803
You can use RegExp — `root.walkAtRules(/media/i, () => { })`

Maybe it is a issue in API design, but we can solve it only in major release.

[2016-05-05 10:55] #803 closed

[2016-05-05 11:01] evilebottnawi commented on #803
@ai thanks for answer!

[2016-05-07 18:42] clentfort commented on #754
FYI: I'm currently working on a [parser][parser] for CSS Selectors with support for Level 4 Selectors as defined [here][selectors4]. It's not yet complete (traversing and manipulating the AST is missing), but if you are interested in integrating the parser into PostCSS I'd be happy to chat (and design/adjust the API according to suggestions). Otherwise I'd be happy if we could have an active discu

[2016-05-07 18:45] ai commented on #754
Yeap, let's talk in PostCSS gitter after May 12 (sorry, conference).

What do you think about this steps:

1. Creating a separated library.
2. Stabilize API
3. Move API to PostCSS core.

Also, what will be the main difference with postcss-selector-parser?

[2016-05-07 18:55] clentfort commented on #754
Well one major advantage so far is, that it supports plugins for the parser. This allows correct parsing of `:not(SimpleSelector, SimpleSelector, ..)` and `:nth-child(2n+1 of SelectorList)`, which **postcss-selector-parser** has [problems][problems] with. (It actually parses nested `not`-selectors, even though that is not allowed according to the official spec).
The parser is also faster on many c

[2016-05-08 07:10] ai commented on #754
@clentfort awesome! @ben-eb what do you think?

[2016-05-08 12:09] ben-eb commented on #754
Do we want to go down this road with PostCSS? We could make PostCSS only parse 'legal' grammars, but that is slower than "loosely" parsing as we are doing right now. If anyone wanted some custom syntax it would be harder to implement than it is currently.

For my use case I don't care about the semantics of tokens inside pseudo-selectors, which is why it works like it does. I don't think it can be

[2016-05-08 13:06] clentfort commented on #754
As I said, my selectors parses nested not-callst, even though strictly speaking it is not a valid CSS selector. I really can't see any disadvantage by parsing the parameters of a `CallExpression`, with the design of my parser it's pretty trivial to define specific rules for different calls (right now I have, to prototype the API, support for `:not` and `:nth-child`). It give tools such as Stylelin

[2016-05-10 19:36] matthew-dean commented on #797
@paulirish Will you be publishing how Less can be integrated into devtools editing?

[2016-05-10 19:41] matthew-dean opened #804 "PostCSS always uses a custom parser after it's set once"
While integrating a custom parser, I noticed that PostCSS doesn't reset to the default parser even if it's not set as an option. Reduced example:

[code]

[2016-05-10 19:44] matthew-dean commented on #804
Until this is fixed, is there a short-term workaround? Is there an explicit "default" setting?

[2016-05-10 19:52] ai commented on #804
O_o Hm, very strange. We have tests with differences parsers and they should fail if we have this mistake.

Try to set `syntax: postcss`. I will look at it after tomorrow.

[2016-05-10 20:01] matthew-dean commented on #804
@ai In my case, I have two tests that return a Promise, and then am using a `Promise.all` for both tests (using the async processing method of PostCSS, despite my example). Therefore, the second test may start before the first one completes.

Just speaking hypothetically, if the PostCSS processor instance sets anything globally as far as parser (not local to the processor instance), then it would

[2016-05-10 20:08] matthew-dean commented on #804
Or I could have made a mistake. It's possible something else is going on here.

[2016-05-10 20:16] matthew-dean commented on #804
I did, in fact, make the mistake. [sad trombone] Sorry, closing.

[2016-05-10 20:16] #804 closed

[2016-05-14 13:00] ai commented on #240
OK. I will close this issue again if nobody want to implement it.

[2016-05-14 13:00] #240 closed

[2016-05-14 13:19] ai commented on #757
Done 47d00dd (even without special option)

[2016-05-14 13:19] #757 closed

[2016-05-14 13:28] ai commented on #757
Also this commit is relative too fe51a0c

[2016-05-14 13:47] ai commented on #787
Seems like problem is fixed, is’t it?

[2016-05-14 13:47] #787 closed

[2016-05-14 13:48] ai commented on #415
Done https://github.com/postcss/postcss/commit/f92780de76f0c0d098a7bb5ad4fa9afbb7cb168a

[2016-05-14 13:48] #415 closed

[2016-05-14 13:51] ai commented on #449
https://github.com/postcss/postcss#ide-integration

[2016-05-14 13:51] #449 closed

[2016-05-14 13:51] #693 closed

[2016-05-14 13:55] ai commented on #623
Seems like this issue become outdated :)

[2016-05-14 13:55] #623 closed

[2016-05-17 00:01] paulirish commented on #797
@matthew-dean perhaps! can you hook me up with a small less app with a watch task that I can try out?

[2016-05-17 04:04] matthew-dean commented on #797
@paulirish You mean like: https://getcrunch.co/, the best Less & Sass editor/compiler app of all time in the history of human civilization?  ... I might be biased. 👀

[2016-05-25 21:25] michael-ciniawsky opened #813 "Request for Autoloading Plugins as a Core Functionality"
Hi, is there some interest in making it possible for postcss to auto-load plugins based on a config obj either inline, from a separate js | json file or a section in pkg.json (e.g pkg.postcss)?

The plugin names are written without the  `postcss-` prefix and hyphen delimited names should be written in camelCase. The postition in the plugins array is determined by the plugins[i].key e.g =>
[plugin1

[2016-05-25 21:27] ai commented on #813
I agree that we need common config. So we will have autoload for JSON configs abd require for JS.

[2016-05-25 21:28] ai commented on #813
Do you want to organize all discussion for this task, find best API and implement it? I will help and guide you.

[2016-05-25 21:28] michael-ciniawsky commented on #813
@ai abd require JS === no js files as conf? :)

[2016-05-25 21:29] winamp opened #814 "Sourcemaps corruption (nested blocks?)"
PostCSS affects mapping of sourcemaps, so it always points to the first line of the file.

Here is a sourcemap without autoprefixer:
![pure](https://cloud.githubusercontent.com/assets/996918/15555281/e416c554-227c-11e6-9cfe-7b8e217b21b6.png)
After autoprefixer was applied:
![autoprefixed](https://cloud.githubusercontent.com/assets/996918/15555280/e4164f20-227c-11e6-99c3-19e7b13f7e4f.png)

I've cre

[2016-05-25 21:37] ai commented on #813
Oops 😊 "and require() in JS config"

[2016-05-25 21:39] michael-ciniawsky commented on #813
Sure i just wanted to ask first if there are general concerns of yours about considering this as core functionality(e.g should not be in core). I played around with postcss-load-plugins, but is unfinished at the moment, but before pollishing that module i could also work directly on it and send PR, updating while there is discussion about it. Would it be ok to first draft something out and impleme

[2016-05-25 21:41] ai commented on #813
I totally agree, that we need common config in core.

We also started same issue, but nobody finished it yet. So half of work already done. I will send a link tomorrow (already in bed, sorry).

[2016-05-25 21:41] michael-ciniawsky commented on #813
Can you give a short example? :)

[2016-05-25 21:46] michael-ciniawsky commented on #813
I read partials of that issue but there was somehting with an event API mentioned and to be honest i don't know how something like that could be working :). I look that one up to get an insight.

[2016-05-26 09:12] ai commented on #813
Nope, event based API is not relevant. Here is the old discuss: https://github.com/postcss/postcss/issues/477

Read it and tell what do you think about it?

[2016-05-26 12:46] michael-ciniawsky commented on #813
:+1 ok looked over it, the idea and my attempts of implementation are similiar, i currently draft out a proposal which will give an in-depth overview all possibilities for the moment and upload it, then start implementing while discussion gets on track. i call out again later today, when published.

[2016-05-26 13:11] ai commented on #813
Config could be placed in:

* `postcss` subsection in `package.json`
* `postcss.json`
* `postcss.js`

Also it is a good question how to name standalone configs: `postcss.json` or `.postcss.json` or `postcssrc.json`.

I think we should *not* name it `.postcss.json`, because this config affects on real build, so it should not be hidden (rather than `.travis.yml` or `.eslintrc`).

[2016-05-26 13:52] michael-ciniawsky commented on #813
Ahh:) ok i made a note about this, but was not sure to go this far, nervertheless it makes sense to make the naming clear.

When you have time please take a look at this section of the proposal, maybe thats to much:
**npm config**

[code]
[code]

**Example**

[code]
[code]
[code]

[code]
**Defaults**
[code]
At the moment it's about the location in pkg.json, that's the second option maybe usful for

[2016-05-26 13:54] ai commented on #813
@michael-ciniawsky looks nice, but I think we should miss `config.` key and use `postcss` key on the root.

Also, maybe we should move our discuss to https://github.com/postcss/postcss/issues/477?

[2016-05-26 14:11] michael-ciniawsky commented on #813
yes we better leave that it's confusing and not that useful...:) kk i finish the proposal and then head over to #477 contents will be:

- Setup (pkg.json, postcss.js | postcss.json)
- Implementation Draft 1
- Usage

[2016-05-26 20:12] michael-ciniawsky commented on #477
@ai First draft online, when you find the time please take a look into it.

- [PostCSS Autoload Proposal]( https://github.com/michael-ciniawsky/postcss-auto-load)

Implementation gets constantly updated but i need to test it first ;).
Maybe until tomorrow the first prototype is working.

[2016-05-26 20:14] michael-ciniawsky commented on #813
i have 2 questions:

- Where are the args  getting pass to ....process(arg) in postcss?  lib/postcss.es6 ? lib/process.es6? :)
  Related to pkg.postcss.options (parser, from, to, map)

- The location of tests related to plugins (postcss) and options (process)
  && and if it's ok to write mine with ava?

[2016-05-26 20:18] ai commented on #477
@michael-ciniawsky good docs. My notes:

1. should give a way to do custom `require()` in `postcss.js`. For example `require('./my-custom-plugin')`
2. this configs should works recursively like `eslinrc`

[2016-05-26 20:19] ai commented on #813
@michael-ciniawsky current test are already written in ava.

`postcss(plugins)` is in `lib/postcss.es6`, `process()` is in `lib/processor.es6`

[2016-05-26 20:23] ai commented on #477
@watilde what do you think about this config?

[2016-05-26 21:20] michael-ciniawsky commented on #477
@ ai Please give a short example

Update:
[PostCSS Autoload Proposal]( https://github.com/michael-ciniawsky/postcss-auto-load)

- loader.es6 first draft

[2016-05-26 21:22] ai commented on #477
@michael-ciniawsky have no idea where put `require('./some/path')` :)

[2016-05-26 21:22] ai commented on #477
Maybe

[code]

[2016-05-26 21:33] michael-ciniawsky commented on #477
[code]
The require() happens in loader.es6
Or is there a nessecary to require them in the js, then maybe ?

[code]

[2016-05-26 21:33] ai commented on #477
@michael-ciniawsky yeap, looks nice too

[2016-05-26 21:37] ai commented on #477
@michael-ciniawsky maybe we should use [cosmiconfig](https://github.com/davidtheclark/cosmiconfig)?

[2016-05-26 21:48] michael-ciniawsky commented on #477
Extend JSON
[code]
Extend JS
[code]

👍  i have that under consideraion already, but never used it before, when i make the PR i try to provide loader-cosmic.es6 && loader.es6 see wants perfs better / is less bloated

[2016-05-26 21:50] ai commented on #477
@michael-ciniawsky hm, with `extend` will be hard to set plugins in right place. Maybe we should support `plugins: [ { name: {} } ]` and `plugins: {} both`

[2016-05-26 21:59] michael-ciniawsky commented on #477
[code]
?

usage of an array as postcss.plugins value in general is a nice idea imho

[2016-05-26 22:09] watilde commented on #477
@ai Thanks for ping me. I just caught up this thread 😺

For adding the cli into the core, I think it's a good step to make developers use the stable version of the postcss core naturally, but I'd like to separate tests for the cli and the API because it can be hard to keep both tests for every single feature like the npm couldn't keep it or the [gulp-cli](https://github.com/gulpjs/gulp-cli) for ex

[2016-05-26 22:11] ai commented on #477
I think too that we could move all options out of `options` key. I like short syntax 😊

[2016-05-26 22:12] ai commented on #477
@watilde do you see easy way for your users migration? We could write some autofixer like AVA did in 0.14.

[2016-05-26 22:27] michael-ciniawsky commented on #477
[code]

[2016-05-26 22:29] ai commented on #477
1. Yeap
2. Yeap

@w0rm are you OK with this config?

[2016-05-26 22:31] ai commented on #477
@michael-ciniawsky other tricky question. If we have one config in project root and other in same directory with CSS files. Should we merge this two configs or use only closest?

I think we should use only one, because it is hard to merge plugins arrays. What if user will want to disable some plugin in subdir?

[2016-05-26 23:02] michael-ciniawsky commented on #477
package.json is the default and separate config when passed to postcss takes higher order (specifity) (reason is it is closer to  the files), all options in the separate config override the defaults in pkg.postcss o scaffolding

**Example **
**Structure**
[code]

**package.json**
[code]
**styles/home/postcss.json**
[code]
[code]

**styles/blog/postcss.js**
[code]
[code]
With CLI Example

[code]

[2016-05-27 16:07] davidtheclark commented on #477
Don't plugins *need* to be an array because order matters? “Plugin order is determined by declaration in plugins section.” — but in JS property order on simple objects is not guaranteed.

If you run across ways to improve cosmiconfig, please share them!

[2016-05-27 19:46] michael-ciniawsky commented on #477
@davidtheclark

[code]
From MDN:

Object.keys() returns an array whose elements are strings corresponding to the enumerable properties found directly upon object. The ordering of the properties is the same as that given by looping over the properties of the object manually.

There's absolutly nothing wrong with cosmiconfig, don't get me wrong, i'm just avoid getting started by requiring x modules

[2016-05-27 19:49] ai commented on #477
@michael-ciniawsky sorry, but I agree too that we need to use shared library for config. It will be much better for ecosystem to have same config behavior with Stylelint.

`extend` is like include?

[2016-05-27 19:50] ai commented on #477
Also I think object is OK, all important JS implementations save keys order. And object syntax will be shorted.

[2016-05-27 19:53] davidtheclark commented on #477
Traditionally objects are unordered (http://stackoverflow.com/questions/5525795/does-javascript-guarantee-object-property-order) but maybe that changed in ES215 (http://www.2ality.com/2015/10/property-traversal-order-es6.html). It does feel weird to me to expect the order of properties to matter instead of using an array ... but maybe that's the new way of things :)

[2016-05-27 20:04] michael-ciniawsky commented on #477
? :)

Both is possible, but the Array is used when you set your plugins manually in the file and pass the array e.g
[code]
The Array must then be additionaly check its valid (all elements a funtions), should be avoided imho

Extend uses the pkg.config overrides options (merge), but if in the config someone sets an additional plugin, which is not in the pkg then the position of that plugin would be

[2016-05-27 20:52] michael-ciniawsky commented on #477
? :)

If you mean in the way, that the config file (postcss.js / postcss.json) should be like e.g stylelint-config-standard and the pkg.json part can be left out completely, then why not pkg.jso === postcss.json when in root

[code]

[2016-05-27 21:15] ai commented on #477
@michael-ciniawsky I mean, that we have few tools in PostCSS ecosystem with configs.

It will be very nice, if they configs work in same way.

I don’t like extra libraries too (`left-pad` is a good example), but I think there are two cases, when we should use library:

1. For tricky things like parsers (PostCSS :) ).
2. To have guarantee same behaviour (like [browserslist](https://github.com/ai/br

[2016-05-27 21:16] ai commented on #477
@michael-ciniawsky sorry, I completly miss this thing =^_^=

[2016-05-27 21:34] michael-ciniawsky commented on #477
@michael-ciniawsky sorry, I completly miss this thing =^_^=

I write a manifest for all configuration options with examples in the proposal :)

kk i understand, yes if you 'freeze' how the design should look like for this point, then cosmiconfig is used ;). The naming convention will be derived from cosmiconfig then e.g postcss.js => postcss.config.js etc.

Do you agree how the plugin section look

[2016-05-27 21:42] ai commented on #477
@michael-ciniawsky what is use cases for `extend`? (other thing looks nice, but maybe we should update proposal to be sure that we understand each other correctly)

[2016-05-27 21:57] michael-ciniawsky commented on #477
yeap doing it right now :)

[code]
**pkg.json**
[code]
**/styles/postcss.js**
[code]
[code]
[code]

We could leave that, i thought this is a necessity

[2016-05-27 22:07] ai commented on #477
I thought that `styles/postcss.js` will override `package.json`. Like ESLint and Stylelint do.

I mean, if we have:

[code]

`app.css` will use `package.json` config, `admin/index.css` will use `admin/postcss.js` and `admin/logo/logo.css` will use `admin/logo/package.js` config.

This thing is very useful for current components trend, when every component could have own explicit plugins list.

And

[2016-05-27 22:12] michael-ciniawsky commented on #477
its about shortening the custom configs, they override everything in pkg.json (the default config or root config) when specified otherwise just use whats set there, we could made an option like ```root: null ``` to ignore all defaults if unnecessary

[2016-05-27 22:16] ai commented on #477
Maybe we should have `extend` in `styles/postcss.js` like:

[code]

But how we could merge plugins arrays between two configs (`package.json` and `postcss.js`)? What if user want to insert some plugin in the middle of `package.json` plugins list?

[2016-05-27 22:21] michael-ciniawsky commented on #477
both :) the extend in root config given the path of the local config is the index placeholder (entry point), from where the plugins from local config(s) will be push in.

[2016-05-27 22:23] michael-ciniawsky commented on #477
in local configs the extend option can take to values ```extend:  path/of/config  # root by default ``` and ```extend: false # use just this config ```

[2016-05-27 22:26] ai commented on #477
@michael-ciniawsky so it is like a placeholder to be filled in some other config? Nice idea! Really instersting way.

But I just remembered important thing. We want to make PostCSS order-free in next 6.0 release. So plugin order is not really important.

What if we create a simple solution without `extend` right now, and then implement it in future version? We will have more feedback to do it corr

[2016-05-27 22:34] michael-ciniawsky commented on #477
I didn't know about that, awesome that eases things alot. 👍
Well, then the placeholding part lived short and partied hard :D

Are there some resources / discussions how this works, it's off topic but maybe of use for PostHTML (by the way there should by more 'getting together' anyways imho) :)

[2016-05-27 22:35] michael-ciniawsky commented on #477
+1 for making this working the rigth way from the start no need to rush.

[2016-05-27 22:54] davidtheclark commented on #477
I'm unclear on where you two have settled — extends, cascading configs, or both? (By "cascading configs" I mean that `first/second/config.json` automatically extends & overrides `first/config.json`, which extends & overrides `./config.json`.)

But I can clarify that neither of those is currently supported by cosmiconfig out-of-the-box. I wrote the pieces of cosmiconfig that I knew stylelint needed

[2016-05-27 23:25] michael-ciniawsky commented on #477
@davidtheclark You're not alone i think we currently settled nowhere :) discussion is open improve until all concerns are rendered silent and best solution is found.

I think same should be done by PostCSS, it's a specific issue. But not my piece of the pie :)

👍

[2016-05-28 08:46] ai commented on #477
@michael-ciniawsky

If you really want a placeholder feature, let’s change the API to more clear one.

`package.json`:

[code]

`dir/postcss.js`:

[code]

But I am really think that we should not implement it right now. We should have simple solution first and extend it on real feedback.

If we will implement some feature, we need support it until major release. And people always hate broken API.

[2016-05-28 08:50] ai commented on #477
@voischev does PostHTML has some standard config? Are you interesting of having same config principles with PostCSS? What you think about out latest idea and that placeholders?

[2016-05-28 12:06] michael-ciniawsky commented on #477
Nope :( sadly, it's currently rejected, to keep the core simple [#141](https://github.com/posthtml/posthtml/issues/141). But maybe could be reconsidered @voischev :D?

:+1 Load various common configs from root to start with, extending or cascading is a progressive enhancement.

[code]

@use plugin for plugins local to just one file would also be an option, maybe simpler, and in root you set the op

[2016-05-28 13:28] ai commented on #477
@michael-ciniawsky ouh, postcss-use is for next iteration too. Let’s make first config simple, just to solve current problem. Could you update purposal docs to see our final stage?

[2016-05-28 13:35] michael-ciniawsky commented on #477
yeap :) its was just an attempt for @-rule-syntax extends as second option to additional postcss.config.js files. But let's focus on the common config first, before i scratch your nerves to dust completely :+1 👯

[2016-05-28 13:53] michael-ciniawsky commented on #477
update [Autoload Plugins Proposal](https://github.com/michael-ciniawsky/postcss-auto-load)

[2016-05-28 14:36] ai commented on #477
@michael-ciniawsky

1. How did you understand that `autoprefixer` is just `autoprefixer` and not `postcss-autoprefixer`? ;) What about `cssnext` and `postcss-cssnext` which are exist together? ;)

2. I think it is too tricky. We have hyphens in `dependencies`. It easy to copy plugin name and paste to Google.

3. Why you put plugins to the root of config? Where we will put options like `syntax` or

[2016-05-28 14:59] michael-ciniawsky commented on #477
As i understand autoprefixer is based on postcss and can be used standalone or as 'plugin' in your plugin chain? Depends on how you like to use it, if in config no plugins.key (eg. plugins.autoprefixer, plugins.cssnext) is set nothing will be loaded. You can use unprefixed names which will be reprefixed when inclusion in deps will be checked or you leave them prefixed from the start.
[code]

[2016-05-28 15:10] ai commented on #477
@michael-ciniawsky and why we need this logic with `postcss-` autprefixing?

[2016-05-28 15:16] michael-ciniawsky commented on #477
to write keys like ```bem: null``` instead of ```"postcss-bem": null``` in your config. In the deps the name is ```"postcss-bem": x.y.z``` just ```bem``` would not be found in the deps on checking.

[code]
? :D i thought the options should **not** be in the config, could be there of course, i removed that from a previous version of the propsal

[2016-05-28 16:14] ai commented on #477
@michael-ciniawsky let’s me show 5 examples, why `assets` is worse, than `postcss-assets`:

1. What if user have `cssnext` and `postcss-cssnext` is project (legacy code and new code)?
2. `assets` could by in `package.json` too. Not as PostCSS plugin, but as some npm library. So that code will not save us from name conflicts.
3. If I find some new plugin in config, I can’t just copy name to Google.

[2016-05-28 16:55] michael-ciniawsky commented on #477
Both would work, depends on how it's listed in the config and installed as dependency

When prefixed check matches => don't check unprefixed.

**But...you're right, i'm 'afraid' that's the show stopper** :)

Maybe, for the future => no google searching necessary at all 👍 :) but thats a different topic

[code]
This autoprefixing algorithm is too complicated. Simple things are always better than com

[2016-05-28 20:40] ai commented on #477
Let’s keep full name, you can use some custom config preprocessor if you want to keep them short :)

[2016-05-28 20:51] michael-ciniawsky commented on #477
yeap, can i assume we settle on this now for the moment,

**Cosmiconfig Config Names**
-package.json
-postcssrc.json
-postcss.config.js

**Config Style**
[code]

? :) i will develop it here [here](https://github.com/michael-ciniawsky/postcss-load-plugins) and [here](https://github.com/michael-ciniawsky/postcss-load-options) as plugins first, when working see if,how,when to implement in postcss . 👍

[2016-05-28 20:54] ai commented on #477
Yeap, create a some playground tools first and them move implementation to core is awesome idea.

So we will get first feedback before we freeze API.

[2016-05-28 21:04] michael-ciniawsky commented on #477
yeap exactly :). lf not directly into postcss core for the moment the repos will transfered to the org when ready and you or someone from postcss can publish them to npm.

result should look like this:

[code]
kk i'm back here when i actually can show something.
Thank you for your the time and patience sketching this out 👍

[2016-05-30 22:53] eramdam opened #816 "Parsing issue with <![CDATA[ inside a CSS comment"
I stumbled upon a string that PostCSS seems to parsing incorrectly

[code]

PostCSS seems to think that `<![CDATA[ body` is a selector even though `<![CDATA[` is inside a comment, resulting in issues when passing `<![CDATA[ body` to `postcss-selector-parser`

[2016-05-30 22:56] ai commented on #816
I tested this example with AST Explorer and everything seems like fine — `/*<![CDATA[*/` was parsed as comment and rule selector is `body,\n #backgroundTable`.

http://astexplorer.net/#/np0DfVT78g/119

I think you have problem in some tool before or after PostCSS.

[2016-05-30 22:57] ai commented on #816
I will close this issue for now. But feel free to reopen it if you will get better test with pure PostCSS environment.

[2016-05-30 22:57] #816 closed

[2016-05-30 23:03] eramdam commented on #816
Oh, I'm indeed using [`postcss-safe-parser`](https://github.com/postcss/postcss-safe-parser) so maybe that's why. Will try again without it and re-open if still needed. Thanks for the insanely fast reply though!

[2016-05-30 23:07] ai commented on #816
Hm, safe-parser is very close to the normal one. It is very unlikely to have this issue in safe parser.

If you will not find issues in other part of your environment, please, create some small repo to repeat a issue.

Safe Parser is part of ecosystem and if we have a problem there, we should fix it. But I really think that you should start from tools before PostCSS, comment parsing is very easy t

[2016-05-30 23:10] eramdam commented on #816
I managed to narrow down my issue and PostCSS/Safe Parser are fine, the problem comes from html-parser2 which does weird stuff. Sorry for the annoyance 😛

[2016-06-01 15:32] michael-ciniawsky commented on #477
[postcss-load-plugins](https://github.com/michael-ciniawsky/postcss-load-plugins) Plugins only
[postcss-load-options](https://github.com/michael-ciniawsky/postcss-load-options) Options only

Available on npm:
[postcss-load-config](https://github.com/michael-ciniawsky/postcss-load-config) Plugins && Options

Currently all **alpha**,  e.g the return of a promise is subject to change in my opinion.

[2016-06-14 05:19] jmeas commented on #602
If the situation arose that a linting error was caused by the compiler producing unexpected output, then it could be annoying to have to change your precompiled code or adjust the rules.

An analogy would be running a linter on Uglified JavaScript. I always include semicolons when I write JS, and I want my linter to enforce that. But Uglify strips them out to save on file size, so the uglified cod

[2016-06-14 12:00] ai commented on #602
@jmeas yeap, I agree that we need Stylus parser. But it is very complicated task. Maybe it will be better to take Stylus parser and then convert Stylus AST to PostCSS AST.

@Panya @kizu is it possible?

[2016-06-15 19:08] delorge commented on #790
Shall this cache be avaiable as postcss.nodeCache or smth?

[2016-06-15 19:16] ai commented on #790
@delorge I think that `.id` name is better, because this uniq ID could be used not only in caching. But I am open for use cases :).

[2016-06-15 19:27] delorge commented on #790
@ai as I can see, cache should be avaiable everywhere, am I correct? Or maybe we need to add get/set cache methods for Node class? To be honest I'm not really familiar with such use cases :)

[2016-06-15 19:28] ai commented on #790
@delorge no it is private in-plugin cache. For example, Autoprefixer has some caches and this caches should be used only inside Autoprefixer.

[2016-06-15 22:27] delorge commented on #790
@ai aye, got it. I have a solution but it breaks 30+ tests :D I guess that's is an issue as well, because tests expect harcoded values, hence I'm not sure how do I test random values (of course I do, but I need an advice how to do that right).

[2016-06-15 22:28] ai commented on #790
@delorge what tests you talk about?

If you talk about `postcss-parser-tests`, I regenerate JSONs on PostCSS AST update :)

[2016-06-15 22:33] delorge commented on #790
@ai I mean postcss unit tests. For example, one of node tests:
[code]

[2016-06-15 22:35] ai commented on #790
Don’t worry about them :D.

You can fix `parser` and `stringify` tests by adding `id` cleaning here https://github.com/postcss/postcss-parser-tests/blob/master/jsonify.js

[2016-06-15 22:36] ai commented on #790
If you have same code. Could you test it in [benchmark](https://github.com/postcss/benchmark). It is important to not have lower performance.

[2016-06-15 22:38] delorge commented on #790
@ai alright, I will check parser later, thank you :)

p.s. will try to test in benchmark as well

[2016-06-19 19:09] delorge commented on #790
I tested node ids on benchmark with time-based IDs and random (encrypted) ones. I believe that it's impossible to generate unique ids in current  runtime process without performance loss. The question is: do we accept these losses or don't relay on IDs at all.

here are my results I've got so far:

random IDs (average):

parsers:
[code]
prefixers:
[code]
preprocessors:
[code]

time-based IDs (aver

[2016-06-20 09:25] ai commented on #790
Yeap, time bases is better. But are you sure, that time is always unique?

[2016-06-20 09:31] delorge commented on #790
For generating IDs I used [node-uuid](https://github.com/broofa/node-uuid) which guarantees unique ID, because it uses not only timestamp in generating process, so IDs should be fine even if they were produced at the exact same time

[2016-06-20 09:34] ai commented on #790
Yeap, UUID is OK

[2016-06-20 09:36] delorge commented on #790
alright, will make a PR for this one and for [paser](https://github.com/postcss/postcss-parser-tests) tonight.

[2016-06-20 19:23] delorge commented on #790
well seems like some tests are still failing. shall I investigate this?

[2016-06-21 07:05] delorge commented on #790
Node.toJson tests are still failing after parser update; I guess this method is being used before parser does its job. Should i change tests and make them expect ids in node objects or change toJson method?

[2016-06-21 09:18] ai commented on #790
@delorge did you update `postcss-parser-tests` version in `package.json`?

[2016-06-21 09:36] delorge commented on #790
@ai yes I did,  ~30 tests break before `postcss-parser-tests` update; 2 tests break after update

[2016-06-21 09:42] delorge commented on #790
seems like `postcss-parser-tests` doesn't apply changes in this scenario

[2016-06-22 09:03] delorge opened #825 "Yaspeller usage"
the problem of appVeyor tests is yaspeller incorrect usage. Accorging to documentation:

`yaspeller -e ".md,.html,.js" ./texts/`

So yaspeller command should look like
`yaspeller -e '.md' ./docs/ ` instead of

`yaspeller *.md docs/**/*.md`

[2016-06-23 09:59] pke opened #829 "modules not correctly resolved when using with babel and webpack"
## Folders

[code]

## index.js
`import api from "api/api`

## webpack.config.js

[code]

## Output

It throws this error:

[code]

Line 59 in `postcss-loader` reads:

[code]

From the syntax of the webpack loader entry I assumed the `source` is already transformed by `babel`?
What is the problem here? Shouldn't postcss-js simply parse the babel transpiled JS code for inline styles?

[2016-06-23 10:00] ai commented on #829
Nope, we should continue discuss this issue in `postcss-loader` ;). No connections to main PostCSS repo ;).

[2016-06-23 10:00] #829 closed

[2016-06-23 10:01] ai commented on #829
Also https://github.com/postcss/postcss-loader/issues/76#issuecomment-228002465

[2016-06-23 10:02] pke commented on #829
Oh ok. Just after some more digging into the source code I figured it might not actually a loader problem

[2016-06-23 23:44] matsko opened #830 "Running postcss in the browser"
Hey guys.

Do you guys have an implementation in place for running postcss in the browser? Is there anything that prevents you guys from making it work in JavaScript on a browser without node? I did some work setting up rollup UMD bundles and it works somewhat, but it would be great if the NPM package included a bundled file that can be used directly in the browser.

[2016-06-23 23:47] ai commented on #830
If you want to process CSS in string in browser, just use `browserify` or `webpack` to pack npm modules of `postcss` and PostCSS plugins to bundle.

PostCSS don’t need node.js API to process CSS string (it loads `fs` module, but webpack/browserify have a nice hack for it).

[2016-06-23 23:47] #830 closed

[2016-06-23 23:49] ai commented on #830
But you need to make bundle by your own. There are 2 reasons:

1. npm community should really think about npm packages sizes. Having a pack in npm package will increase package size to 3-4 times.
2. Anyway you need bundles not only for PostCSS core itself, but also for plugins. So anyway you will use browserify/webpack to packe PostCSS core with PostCSS plugins.

[2016-06-26 23:45] #825 closed

[2016-06-26 23:46] ai commented on #480
@jedmao I am finishing a JSDocs. Could TypeScript uses them instead of `.ts` files? Because I add types for most of methods and properties.

[2016-06-27 09:47] ai commented on #480
I moved all API docs to JSDoc. So, where we should put generated HTML while we creating special page in postcss.org?

[2016-06-27 09:48] ai commented on #480
`postcss.github.io/postcss`?

[2016-06-27 09:48] ai commented on #480
Or we could put static HTML to postcss.org?

[2016-06-27 09:49] ai commented on #480
@jedmao seems like we can remove `.ts` file https://github.com/Microsoft/TypeScript/wiki/JsDoc-support-in-JavaScript

[2016-06-27 10:58] ben-eb commented on #480
@ai How about on *postcss.org/api*?

[2016-06-27 11:00] ai commented on #480
@ben-eb we will definitely have `postcss.org/api`, but API page is not ready in `postcss.org` repo.

[2016-06-27 11:16] marcustisater commented on #480
Yup, that's my fault. I'm working on it. We can do a redirect meanwhile?

[2016-06-27 11:18] ai commented on #480
No rush, reflect is fine. We just need to fine best place for temporary JSDoc page

[2016-06-27 11:43] andyjansson commented on #480
Can't we make a subdomain e.g. `api.postcss.org` and link it to Github Pages? Or am I misunderstanding the question?

[2016-06-27 11:44] jedmao commented on #480
@ai, the JsDoc support in TypeScript is only one piece of the pie. The definition files also provide types and interfaces, some of which are inferred by the types declared within functions. I didn't look at your JsDocs yet, but I'm pretty sure that even if you were extremely thorough with return types and such, JsDocs by themselves would still fall short of the completeness of the complex type inf

[2016-06-27 11:47] marcustisater commented on #480
Yes, we can make that happen. Good point.

[2016-06-27 11:48] ai commented on #480
@jedmao no problem, I just need your advice what to do with `.ts` files after JSDoc. I just need to remove JSDoc from TS files?

[2016-06-27 11:56] jedmao commented on #480
It might be that simple, yes, but I need some time to investigate.

[2016-06-27 12:09] andyjansson commented on #480
@jedmao What do you feel is missing from JSDoc?

Types can be represented using [`@param {type}`](http://usejsdoc.org/tags-param.html) for parameters and [`@type {type}`](http://usejsdoc.org/tags-type.html) for properties and variables.

PostCSS doesn't really have interfaces, but rather base types (e.g. Node). The inheritance is expressed using [`@augments/@extends`](http://usejsdoc.org/tags-augm

[2016-06-27 12:11] ai commented on #480
@andyjansson yeap, theoretically JSDoc could replace TS files, but right now TS doesn't support all JSDoc features. For example, it doesn't support `@typedef`.

[2016-06-27 12:16] andyjansson commented on #480
@ai I quickly glanced over the JSDocs you've added. From what I saw things are looking good.

[2016-06-27 13:08] jedmao commented on #480
@ai you really have been very thorough with your JSDocs. Very impressed!

@andyjansson, you asked what was missing. I just thought of one example; though, I bet there are more. What about [generic types](https://www.typescriptlang.org/docs/handbook/generics.html)? See [this line](https://github.com/jedmao/postcss/blob/typescript/lib-ts/postcss.ts#L41), which allows a plugin like [postcss-triangle]

[2016-06-27 13:37] andyjansson commented on #480
At this point we aren't talking about generating documentation for postcss anymore. That's only interesting when it comes to auto-completion and compile-time safety (which has its merits too, but it's kinda off-topic). (side-note: clojure compiler has generic types via `@template`).

Anyway, let's back up for a moment though. Looking at the postcss repo, it looks like the typescript files aren't e

[2016-06-27 14:05] jedmao commented on #480
@andyjansson the TypeScript definition files are only for people who are writing a PostCSS plugin in TypeScript. In this case, the files **are** being used, as you can see [here](https://github.com/postcss/postcss/blob/master/package.json#L5). This makes it so a TS user can do:

[code]

And if their editor supports TypeScript, it will read the files in the [`d.ts`](https://github.com/postcss/postc

[2016-06-27 14:30] andyjansson commented on #480
Oh I see, it holds no actual code. It's just a scaffold. Fair enough.
If that directory were to be absent, would it read from the JS sources instead?

Couldn't this be accomplished by specifying `@type {type}` on `module.exports`?

If yes, then other editors could use that information as well, not just TypeScript-enabled ones, plus we wouldn't need to keep duplicate records of the documentation.

[2016-06-27 14:48] jedmao commented on #480
@andyjansson, yes. I just finished reading [JsDoc support in JavaScript](https://github.com/Microsoft/TypeScript/wiki/JsDoc-support-in-JavaScript) and it does look like they do support generic types with the following syntax:

[code]
Still investigating a bit on the existing JsDocs that @ai has written. I already made a comment about one of perhaps many inconsistent return types, so it looks like

[2016-06-27 14:54] jedmao commented on #480
You won't get any complaints from me as long as I can do this...

![typescript](https://cloud.githubusercontent.com/assets/1058243/16383973/dbf4c1de-3c4c-11e6-94c4-f542e9298a25.png)

That's the TypeScript definitions in action. As for the JsDocs in this repo, I can't even get them to work in vscode yet, so I'm not sure what I'm doing wrong.

[2016-06-27 15:01] jedmao commented on #480
For those interested in trying it out, I put up a repo [`postcss-foo`](https://github.com/jedmao/postcss-foo/blob/master/index.ts) to see some in-editor vscode action. Still can't get the JsDocs to work though, and yes, I copied the js files from latest master, complete with JsDocs.

[2016-06-27 15:02] jedmao commented on #480
@ai, I'm guessing you've tested the JsDocs in some editors already? Which ones did you try so far?

[2016-06-27 16:28] ai commented on #480
I created JSDoc only for generated API page (you can see it by calling `gulp api`). Sorry, I didn't test it with IDE abd need a help here.

So, could we remove JSDoc from TS files, because we have it in JS files.

[2016-06-27 20:14] jedmao commented on #480
I can't confirm that yet, @ai, because I can't get the JsDocs to work in-editor yet. For me, it could be a vscode issue, but I haven't verified that yet. Also, there are still some gaps between what my TS definitions provide vs. your JsDocs (example above with generic types). Lastly, I'm thinking there are a bunch more union types that are being returned that you haven't called out, so I wanted to

[2016-06-27 20:17] jedmao commented on #480
@ai, it might be easier to identify more issues w/ the JsDoc if you compare your JsDoc w/ the corresponding TS definition file. As those files were generated, that means they passed through the TS compiler successfully, resolving any multiple return type issues and such.

Of course, you can always move forward and iterate w/ patch versions, but I think it would be unwise to ditch the TS files unti

[2016-06-27 20:22] ai commented on #480
@jedmao could you test it in WebStorm?

Anyway we could keep TS in old way, not problem

[2016-06-28 16:16] mmmveggies opened #835 "api.postcss.org/Container.html 404"
Several references are made to `Container` throughout the API docs.
These attempt to link to [/Container.html](http://api.postcss.org/Container.html), which does not exist.

[/container.es6.html](http://api.postcss.org/Container.html/container.es6.html) exists but it is just the source without generated docs.

[2016-06-28 16:23] mmmveggies commented on #835
This is also a problem with http://api.postcss.org/Node.html

[2016-06-28 17:30] ai commented on #835
Thanks. Yeap, this is JSDoc problem, I don't know how to fix it. We will fix it in custom API page

[2016-06-29 03:20] jedmao commented on #480
Mmm, not really in the mood to install WebStorm. Let's just move forward w/ the JSDocs and keep the old TS files in there for now. How's that?

[2016-06-29 05:51] andyjansson commented on #480
@ai works fine in WebStorm. This is with the `t.ds` directory deleted.

![webstorm](http://i.imgur.com/eqLu9Rb.png)

[2016-06-29 09:40] ai commented on #480
@jedmao maybe we could create a separated repo with typings? It is very rare case. Also it will be better for you to maintain it directly, without PRs.

[2016-06-29 14:06] texastoland commented on #813
Copied from my loader issue:

[code]

…and later with a library function:

[code]

1. I think a config in `pacakage.json`. I'm not aware of another tool that follows this convention? `postcss.config.js` (or similar) is my preference with the option to pass any JS or JSON.
2. The config should accept a function. Note `postcss-import` accepts a dynamic key in `addDependencyTo`.
3. I accept a boolean

[2016-06-29 16:47] jedmao commented on #480
@ai there are already huge repos like [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) that provide definition files. That is one solution; however, the glory of having the files installed w/ `npm install postcss` is that you don't need to "hunt the typings down". They already come included, and because the `typings` key is provided in the package.json file, editors that suppo

[2016-06-29 17:30] jedmao commented on #480
I see now. @andyjansson's screenshot above is a relative module import, which is definitely working for me; however, that completely bypasses the package.json file's typings field. It appears that, at least, vscode does [not yet support IntelliSense for node module imports](https://github.com/Microsoft/vscode/issues/462). It's in their backlog though.

This means that even the JSDoc support won't

[2016-06-29 18:17] ai commented on #480
@jedmao yeap, I understand benefits of IntelliSense, but right now I think only 2-3 people uses Typescript. This is why maybe we should move type definition to addition package.

How complicated it would be for TS users? We can mention about type definition package in docs.

[2016-06-29 20:15] jedmao commented on #480
I still don't agree w/ moving the definitions, but if you're set on the idea, there's nothing I can do about it. I don't think it requires any documentation, as TS users know where to look for definitions.

[2016-06-29 20:17] ai commented on #480
@jedmao you can always proof the idea by showing more TS users. I am always open for community reasons for TS files.

But if you 2-3 people uses TS, it will be better to install one npm package for them, rather than load 2x more files for other users.

[2016-06-29 20:36] jedmao commented on #480
I will never win that argument.

[2016-06-30 15:04] nicolas-goudry commented on #730
This bug is still happening when you leave a whitespace at the end of a rule:

[code]

I have some CSS rookies in my team and just spent an hour digging around our codebase to understand it came from this mistyping… Any way to avoid build errors like this?

[2016-06-30 15:05] ai commented on #730
Could you show full stacktrace?

[2016-06-30 15:17] nicolas-goudry commented on #730
For sure!

[code]

[2016-06-30 19:09] ai commented on #730
@nicolas-goudry could you create some small repo to reproduce error. I think it would be easy, but I can’t reproduce it in my repo.

[2016-06-30 19:11] nicolas-goudry commented on #730
For sure, I'll do it tomorrow! I'll keep you updated when it's done. Thanks!

[2016-06-30 23:18] michael-ciniawsky commented on #813
@ai, @texastoland hi, sry for the delay, problems of my ISP, connection was down until now...

If you want to help me out , please check out these repos:

[Cosmiconfig](https://github.com//cosmiconfig)

Used for loading the various possible config styles

[PostCSS Load Config](https://github.com/michael-ciniawsky/postcss-load-config)

The Code for each loading propose is splitted in the following

[2016-06-30 23:39] ai commented on #813
Preset idea is great. But it could be step 1.

[2016-06-30 23:41] michael-ciniawsky commented on #813
you mean make config work and the PR's to the tools and 'introduce' presets after that?

[2016-06-30 23:41] ai commented on #813
Everything looks awesome. Should we include it to PostCSS 5.1 or wait 5.2 after a month?

Maybe it is a good idea to implement it in postcss-gulp, postcss-loader and postcss-cli and after some time in PostCSS.

[2016-06-30 23:43] ai commented on #813
@michael-ciniawsky yeap, it is addition feature anyway.

So, I think next step after finishing this libraries is to creating issue in gulp, CLI and webpack plugins to implement they.

Sorry, but I will be able to fix loader only from July 8 until 14 (I will start traveling to Baikanur tomorrow).

Also, @MoOx is final config looks fine to you? You have some experience in it.

[2016-06-30 23:53] michael-ciniawsky commented on #813
yep agreed, that's up to your assessment, want would be the better transition path, if postcss directly handles the config the implementation must be done only once and all tools need slight changes and tests or nothing changed at best. I take care of loader, gulp, cli (but discussion over there is needed i think, bc there is a solution for loading plugins and friends at the moment and how the tra

[2016-07-01 00:01] michael-ciniawsky commented on #813
np, i focus on the other things first, when someone wants to test it meanwhile, clone the fork for the time being :). i'm also busy right know, but sadly with ugly chore work for the holy capitalistic church, have fun over there and make it a nice one  👍

[2016-07-01 02:29] texastoland commented on #813
Woah cool!

Sincerely excellent work.

Duplicates `postcss-load-config/lib/loadOptions.js`?

Duplicates `postcss-load-config/lib/loadPlugins.js`? Could I open an issue there for kebab case by default?

[Tweeted](https://twitter.com/texastoland/status/748692796895141888) him.

Are these like build-your-own-cssnext?

@michael-ciniawsky I can't reiterate I think I'm a good coder but this is superbly

[2016-07-01 03:49] michael-ciniawsky commented on #813
👍 First, thank you very much for that

Yep, i decided to publish them as separate modules for maintance reasons and for some specific usecases folks may encounter, where requiring only parts of load config is beneficial, i will rm them and update the repo soon, but e.g first need the name for postcss-load-plugins on npm.

On a first draft i implemented kebabCase (example below), but it gets a mess

[2016-07-01 05:24] texastoland commented on #813
Could it be `true` instead and `false` to disable? `null`/`undefined`/`'disabled'` all feel wrong.

Did you already consider:

[code]

cssnext [implemented mappings](https://github.com/MoOx/postcss-cssnext/blob/master/src/features.js) for theirs too. The only thing I dislike is needing a preset just for a convention.

You mean `postcssrc().then`? Is the argument so you can override a config?

  //

[2016-07-01 06:04] michael-ciniawsky commented on #813
Sure better alternatives welcome true/false makes more sense. Suggestion for a replacement of 'disable'

[code]

i take a look at them when i find the time. neither do i really it's just my current approach ;)

[code]

yep agree, that's a todo

[2016-07-01 06:52] texastoland commented on #813
I could implement the above by Tuesday at least for further discussion 😊

[2016-07-01 07:20] michael-ciniawsky commented on #813
yeah right :D, thats working for both without any problems

[code]
maybe checking for presets in the plugins section is a better solution, and skip the ```presets: {} ```  key entirely.

Yeah welcome, please help out would be really appreciated, i have some nasty chore at the moment
If you fork and PR or file issues with examples of how to basically :+1: , as you like and find the time
If it's on

[2016-07-01 07:25] texastoland commented on #813
Agreed 👍

I planned to PR `true`/`false`, the kebab shortcut, and passing functions from configs in `load-config`. But I can change it afterward.

[2016-07-01 07:41] michael-ciniawsky commented on #813
👍 i try to free some time in the evenings or rather force myself to :)

[2016-07-01 09:27] TrySound commented on #813
@michael-ciniawsky Done. But publish next major version please.

[2016-07-01 09:34] michael-ciniawsky commented on #813
@TrySound thank you 👍

Sure

[2016-07-01 17:31] ai commented on #730
@nicolas-goudry fixed https://github.com/postcss/autoprefixer/commit/f69d28b97ba10a7e252533d0a023913deef99072

Please wait for Autoprefixer release. It could take 1 week (sorry, I am on vacation :-P)

[2016-07-01 17:43] nicolas-goudry commented on #730
Nice, thanks for the quick fix!

Have a good time on your vacation :)

[2016-07-02 17:42] jedmao commented on #480
TypeScript 2.0 is [almost out](https://github.com/Microsoft/TypeScript/milestones) and it looks like they will be [improving declaration file acquisition](https://github.com/Microsoft/TypeScript/issues/9184).

@mhegazy, https://github.com/Microsoft/TypeScript/issues/9184#issuecomment-226299103

In other words, if you don't bundle the declaration files w/ the PostCSS package any more (the golden pa

[2016-07-02 17:44] ai commented on #480
@jedmao I think we can’t remove TS files right now, because it will break API :). But I will remove it in 6.0 ;)

[2016-07-02 17:44] #480 closed

[2016-07-02 19:57] ai commented on #730
@nicolas-goudry released in 6.3.7

[2016-07-07 15:32] michael-ciniawsky commented on #813
@ai what's the min node version that needs to be supported by gulp and webpack ? node 4+

[2016-07-07 15:43] TrySound commented on #813
Node0.12 until the end of supported days.

[2016-07-07 16:15] michael-ciniawsky commented on #813
👎 :) :) ok, then load-config needs to be tested for node 0.12+ first. legacy support is a bitch 👯

[2016-07-07 16:34] TrySound commented on #813
It's when somebody still supports 0.10 and ask you to support.

[2016-07-07 16:42] texastoland commented on #813
Haha with a PR 👍

[2016-07-07 16:46] michael-ciniawsky commented on #813
grandma's dinner :, hmm... sweatheart would you be so kind lifting that heavy box over there up to the attic. Of course always fun and pleasure 👍  ...

[2016-07-07 16:48] michael-ciniawsky commented on #813
needs to be done from time to time, no ape escape possible

[2016-07-10 20:06] ai commented on #835
I will close it because it is `postcss.org` issue

[2016-07-10 20:06] #835 closed

[2016-07-10 20:34] #790 closed

[2016-07-10 22:19] ai commented on #790
@delorge I found way how to increase parsing performance, just lazy `id` on demand:

[code]

[2016-07-10 22:20] ai commented on #790
But them I rewrite Autoprefixer for new cache and saw dramatic low performance:

[code]

The idea was nice, but this trade off is bad. Let’s wait Symbols support :(.

[2016-07-10 22:20] ai commented on #790
I will add extra commit to remove `id`, so your name will be in PostCSS history anyway. It was good experiment.

[2016-07-10 23:13] ai commented on #814
I am on this issue. Seems like problem is in merging Sass source map and Autoprefixer source map.

BTW, if you will use [PreCSS](https://github.com/jonathantneal/precss) you will not have any problem, because it uses same parser and AST as Autoprefixer ;).

Anyway I am still investigating

[2016-07-10 23:21] ai commented on #814
Hm. Here is result:

1. [Autoprefixer’s origin source map](https://sokra.github.io/source-map-visualization/#base64,Ym9keSB7CiAgZm9udDogMTAwJSBIZWx2ZXRpY2EsIHNhbnMtc2VyaWY7CiAgYmFja2dyb3VuZC1jb2xvcjogI2VmZWZlZjsgfQoKI2JvYXJkIHsKICBwb3NpdGlvbjogYWJzb2x1dGU7CiAgdGV4dC1hbGlnbjogcmlnaHQ7IH0KICAjYm9hcmQgYSB7CiAgICBjb2xvcjogcmVkOyB9CgovKiMgc291cmNlTWFwcGluZ1VSTD1tYXAvYXV0b3ByZWZpeGVkLmNzcy5tYXAgKi8K,eyJ

[2016-07-10 23:22] ai commented on #814
Main problem is that source map merging code is not in PostCSS. I just uses [mozilla source map](https://github.com/mozilla/source-map) tool. So I really have no idea why it doesn‘t merge this maps.

I will create a issue there and provide all technical info that I have. But it is all that I can do on current step.

[2016-07-10 23:30] ai commented on #814
I created issue in `source-map` https://github.com/mozilla/source-map/issues/242

I hope they will fix it soon.

If you want quick fix and your project is small you could move to PostCSS-only solution — it will not have any of this problem. One AST is always better than two ;).

[2016-07-10 23:30] #814 closed

[2016-07-11 02:21] winamp commented on #814
Thanks a lot Andrey!

[2016-07-11 06:41] delorge commented on #790
@ai well, as I mentioned above, managing unique IDs is expensive. But I didn't really expect such a poor performance of autoprefixer. The idea is good though, maybe symbols will work out. Don't forget to revert parser tests :)

[2016-07-12 07:15] HaoyCn opened #843 "`raws` data is ignored when cloning a declaration"
as the following code shows, the IE hack symbol `_` is not copied when method `clone` is invoked.

[code]

[2016-07-12 09:06] dryoma opened #844 "A whishlist for independent postcss tools?"
On the **Writing a PostCSS Plugin** page there is [a list of tools](https://github.com/postcss/postcss/blob/master/docs/writing-a-plugin.md#tools) that seem to be quite independent on PostCSS and can be used without it. E.g., [postcss-selector-parser](https://github.com/postcss/postcss-selector-parser) and [postcss-value-parser](https://github.com/TrySound/postcss-value-parser) are actively used i

[2016-07-12 10:15] ben-eb commented on #843
Duplicate of https://github.com/postcss/postcss/issues/364.

[2016-07-12 10:15] #843 closed

[2016-07-12 10:39] ai commented on #844
`postcss-` prefix is recommended prefix for all PostCSS plugins and tools. But there is no any special naming for tools.

[2016-07-12 10:39] #844 closed

[2016-07-12 11:00] dryoma commented on #844
Let me than ask it this way: what is a PostCSS tool? I.e. what tools are recommended to have this prefix, is there a judgement like "this tool does X and Y, so it can be called a PostCSS tool" or "this tool does X, but to calls itself a PostCSS tool it should also do Y"?

[2016-07-12 11:01] ai commented on #844
Tool is a library that you use to work with PostCSS AST. Or, in other words, tools is a library that you use in PostCSS plugin.

[2016-07-13 06:48] Nirazul opened #845 "Comments within a value list are ignored"
It seems that postcss ignores inline comments within value lists when parsing for example this css:

[code]

Here's an ast example provided by m-allanson:
https://astexplorer.net/#/6DZiWrYrxa/1/

This leads to ignored `disable-line` comments in the latest version of `stylelint`. See [this issue](https://github.com/stylelint/stylelint/issues/1628) for more details.

[2016-07-13 09:36] ai commented on #845
PostCSS cleans values from comments by design. You can get origin value in `node.raws`.

Maybe it is not best way and we should change it in 6.0.

[2016-07-13 09:36] #845 closed

[2016-07-13 14:24] dryoma commented on #844
Ok, got it, thanks.

[2016-07-19 16:12] dryoma commented on #845
Thumbs up for that, will be a big help for linting tools!

[2016-07-22 00:00] alansouzati opened #849 "Best practices for easier theming"
This issue is being opened based on the conversation that started here: https://github.com/postcss/postcss-simple-vars/issues/57

I come from a Sass background and I'm trying to get my hands around PostCSS and CSS Modules. BTW great job here. I have about 2 weeks experience with PostCSS, so forgive me if I'm asking stupid questions.

I'm currently an open-source developer working for Grommet and o

[2016-07-22 00:10] ai commented on #849
What is user API for you component library right now? It is React components? How user load CSS right now? He must import some libraries CSS file or you pack CSS into JS by `style-loader`?

[2016-07-22 00:13] ai commented on #849
Second question. Main question about theming — could user (developer who use your component library) change any libraries CSS or he/she could change only some pre-defined config parameters?

[2016-07-22 02:16] alansouzati commented on #849
My API is current based on React components. Currently they load scss inside their index.js with webpack and style-loader/css-loader.

You can see an example of using our components here: https://github.com/grommet/grommet-simple/blob/master/src/index.js

The user can change(augment) the CSS, so it is not only about redefining config parameters. You can see one example of a theme extending a compo

[2016-07-22 15:20] ai commented on #849
@alansouzati honestly, it will be better to use CSS-in-JS for you. I suggest [JSS](https://github.com/jsstyles/jss) or [CSJS](https://github.com/rtsao/csjs). With CSJS you could even use PostCSS plugins (like Stylelint and Autoprefixer) by [babel-plugin-csjs-postcss](https://github.com/rtsao/babel-plugin-csjs-postcss).

With CSS-in-JS you will be able to pass config to React components props:

[co

[2016-07-22 15:20] #849 closed

[2016-07-22 17:43] alansouzati commented on #849
Thanks for the feedback. I'm going to take a look into these libraries.

[2016-07-30 14:13] ai opened #856 "Mention postcss-less and postcss-scss parsers in parse error"
Many users forget to change parser and complain about parse error.

Maybe we should add mention `postcss-scss` or `postcss-less` if we see that `opts.from` has `.scss` or `.less` extension.

We could release it in 5.1.2.

@davidtheclark @jeddy3 it will be useful for you?

[2016-07-30 16:06] davidtheclark commented on #856
Sounds like a good idea to me!

In stylelint we started automatically setting the syntax based on extension, because of all the people who were forgetting. But we already have the syntax installed. Postcss itself can just point you to the syntax you may need.

[2016-07-30 17:08] ai commented on #856
@davidtheclark some users use `gulp-postcss` or `postcss-loader` to run Stylus and they have same issue.

[2016-07-30 17:09] jeddy3 commented on #856
Agreed.

Mentioning `postcss-scss`, `postcss-less` or `sugarss`when the extension is `scss`, `less` or `sss` would be helpful for anyone still using stylelint as a PostCSS plugin. As @davidtheclark said, stylelint automatically sets the extensions for using using the CLI or Node API, which also covering anyone using `stylelint` task runner plugins like `gulp-stylelint` and `grunt-stylelint`.

[2016-07-31 01:23] maliyshock opened #857 "glob pattern string required"
Hey everyone. Have this issue on my windows system. This issue does not apper on nix - based systems.

I`ve installed postcss and postcss-cli, cause i need to run npm scripts from terminal.
So, my package.json looks like this http://joxi.ru/4AkvbE1fMzeaj2
U can see the error on screenshot higher.
When i remove this part "| postcss --use autoprefixer --autoprefixer.browsers 'last 2 versions'" - all

[2016-07-31 08:07] ai commented on #857
Please, open issue in postcss-cli
https://github.com/postcss/postcss-cli

[2016-07-31 08:07] #857 closed

[2016-07-31 10:16] dryoma opened #859 "result.warn discards // when calculating error index"
Trying to parse comments in styles (to work around PostCSS ignoring some inline //-comments) in a stylelint plugin. The SCSS (parsed with `postcss-scss` syntax):

[code]
The comment `//2` start index is 227 (0-based). So the column of the warning should be 28 in this example. No Node object is instantiated, so `result.warn` (actually, stylelint's `report`, but the result is the same) gets `root` a

[2016-07-31 11:46] dryoma commented on #859
I figured out the reason for the issue. Seems that postcss-scss transforms every //-comment into CSS comment, like so: `// comment` -> `/* comment*/`, thus adding two extra chars at the end of each //-comment.

[2016-07-31 11:46] #859 closed

[2016-08-02 13:57] madx opened #860 "postcss 5.1 breaks postcss-import"
When using `postcss-import` 8.1.2 with `postcss` 5.1 I get the following error:

[code]
Everything was working fine with postcss 5.0.21 so I think there was some breaking change with 5.1 (thus not respecting semver).

Thanks for helping out :)

[2016-08-02 14:14] ai commented on #860
Sorry, I will have free time for debug only in Friday.

[2016-08-02 15:14] madx commented on #860
No problem, I forced 5.0.21 meanwhile :)

[2016-08-02 15:16] ai commented on #860
Will you have time to debug? Just put `console.log` inside `postcss-import` and compare logic in 5.1 and 5.0.21.

[2016-08-04 17:07] uMaxmaxmaximus opened #861 "Why we need PostCSS if we have Webpack o_O?"
Why we need PostCSS if we have Webpack o_O? Really, i not understand. PostCSS is like Webpack, but only for css files? Then why is it needed? This is not a trolling, this is a question.

![image](https://cloud.githubusercontent.com/assets/19378179/17411154/b20f4104-5a7f-11e6-81a2-34d43a6105ff.png)

[2016-08-04 18:08] ai commented on #861
webpack is a tool to pack all your ode into a bundles (including CSS).

PostCSS is a framework to create CSS tools.

webpack uses PostCSS inside (in `css-loader`) to work with CSS.

So webpack is a pack of transforms tools (including PostCSS) to make JS/CSS/images bundles.

But webpack contains only few CSS tools. Of course, you need more tools. You need Autoprefixer and here you will use PostCSS

[2016-08-04 18:08] #861 closed

[2016-08-04 18:09] ai commented on #861
Not sure, that I answer to all your questions :). Feel free to sub other questions.

[2016-08-04 19:26] uMaxmaxmaximus commented on #861
That's what you call the PostCSS plug-in, is Webpask loaders, example:
[code]

[2016-08-04 19:44] ai commented on #861
`autoprefixer-loader` uses PostCSS inside too ;).

Stylus didn’t use PostCSS. But you can use PostCSS based [SugarSS](https://github.com/postcss/sugarss) and [PreCSS](https://github.com/jonathantneal/precss) and you will get faster build.

Webpack build-in CSS minifier is PostCSS based too (cssnano).

[2016-08-04 19:45] ai commented on #861
When you need to do something with CSS, you need to:

1. Parse CSS string into AST objects.
2. Do something with this AST objects by API.
3. Generate new CSS string for change AST.
4. Generate source maps.

So, if you write some CSS tool, you need do have some parser to do 1, 3 and 4 steps. PostCSS is one of the best parser. Of course, webpack didn’t have anything to parse CSS.

[2016-08-04 19:52] ai commented on #861
So, anyway with `style!css!css-min!autoprefixer!stylys` you use PostCSS in many steps. But this PostCSS is hidden inside (in `autoprefixer-loader` and `css-loader`).

Second question: why you should use `postcss-loader` and not some loader wraps for PostCSS plugins (like `autoprefixer-loader` is just a wrap on top of PostCSS and PostCSS’s Autoprefixer):

Right now you re-parse source on every step

[2016-08-04 19:55] uMaxmaxmaximus commented on #861
Parse CSS string into AST objects.
Do something with this AST objects by API.
Generate new CSS string for change AST.
Generate source maps.

Ooh i understand! PostCSS is a tool for creating tools for transform css code?? Oooh, PostCSS is lower than the level of Webpack, I suppose? =)

[2016-08-04 19:56] ai commented on #861
Sure, PostCSS is low-level tool to work with CSS. This is why webpack use PostCSS inside.

[2016-08-04 19:58] uMaxmaxmaximus commented on #861
But as a bonus, PostCSS allows you to skip the file via conveyor of plugins, similar to a chain loaders Webpack? Suddenly a man have no Webpack. =) yes?

[2016-08-04 20:02] ai commented on #861
=^_^=

Yes, PostCSS could have own chain of plugins. But it is better than loaders chain in webpack. Loaders with with string input. So they need to parse file again and again.

In PostCSS chain all plugins will work with already parsed CSS, so it will be much faster.

[2016-08-04 20:06] uMaxmaxmaximus commented on #861
You mean that one loader can not transfer to another loader their parsed and modified AST, and is forced to pass a string? о_О

[2016-08-04 20:07] ai commented on #861
Yeap, they didn’t do it (technically they can, but non of your loaders do it).

[2016-08-04 20:10] uMaxmaxmaximus commented on #861
hmm, and what distinguishes PostCSS, from dozens of ordinary CSS parsers? =_= convenience? and popularity?

[2016-08-04 20:17] ai commented on #861
Sure, PostCSS is technically very close to other CSS parsers. Main difference is not so big:

1. PostCSS is very fast. The faster from parsers, which save spaces.
2. PostCSS save all symbols (including spaces and comments) to AST. So PosTCSS can be used in linting tools like Stylint.
3. PostCSS generates source map.
4. AST API is very rich in PostCSS, there are many methods to work with nodes (lik

[2016-08-04 20:22] uMaxmaxmaximus commented on #861
It's phenomenal! And why some people compare it to the LESS and SASS? They think that PostCSS is a preprocessor, but not a utility for writing preprocessors? In all the articles I read today about PostCSS it is compared with the preprocessor. It's all meaningless, because it is completely different levels of abstraction. PostCSS lower level than the preprocessor. And it serves only as a UTILITY to

[2016-08-04 20:25] ai commented on #861
Sure. PostCSS is not a preprocessor/postprocessor but a tool to write them.

[2016-08-04 20:27] uMaxmaxmaximus commented on #861
@ai Oh, my God, you have opened my eyes. I'm going to write a lesson on working with PostCSS and article. Thank you, Bye =)

[2016-08-04 20:28] ai commented on #861
Sure. I think I should post this talk to Twitter, you asked good questions.

[2016-08-04 20:37] uMaxmaxmaximus commented on #861
Ahah, no desire is the same universal AST builder for wasm to  write?

[2016-08-05 07:43] uMaxmaxmaximus commented on #861
Please, get your twitter

[2016-08-05 11:14] uharbachou commented on #409
Any updates about  highlighting?earlier was ideas about .pss file extention. Any updates about that?

[2016-08-05 11:16] ai commented on #409
Atom and Sublime already have good plugins. JetBrains still ignore (don't use IDE if you want to work with modern stuff).

[2016-08-05 23:42] ai commented on #856
Done a9f41e7

@davidtheclark @jeddy3 is it OK? Especially my English in error message :D.

[2016-08-06 10:43] maltsev opened #863 "Non-existent pages in the API docs"
Node and Contrainer links lead to non-existent pages:
- http://api.postcss.org/Node.html
- http://api.postcss.org/Container.html

[2016-08-06 13:19] ai commented on #863
Yeap, it is issue of JSDoc, they can't hide abstract class from menu, but still generate file for it. We waiting for API page in postcss.org

[2016-08-06 13:19] #863 closed

[2016-08-06 18:02] ai commented on #856
Release in 5.1.2

[2016-08-06 18:02] #856 closed

[2016-08-06 18:04] davidtheclark commented on #856
👍

[2016-08-06 19:20] jeddy3 commented on #856
LGTM

[2016-08-06 21:27] HeikoMamerow commented on #861
Hey, I appreciate your conversation. This was very instructive for me. CПАСИБО ;-)

[2016-08-07 16:35] uMaxmaxmaximus commented on #861
Все мы тут русские, просто притворяемся =)

[2016-08-07 16:48] uMaxmaxmaximus opened #864 "Давайте добавим в вебпак возможность передавать AST из PostCSS по цепочке лоадеров?"
I apologize for my Russian...

Прошу прощения что на русском, просто такое через переводчик не перевести =)

Давайте создадим тикет в репозитории вебпака, для того, чтобы лоадеры могли передавать, помимо соурс мепов, какую то другую служебную информацию, которая возможно приигодится следующим лоадерам в цепочке. Как вам такой подход, а?)

Тогда бы например лоадеры, использующие PostCSS могли бы во

[2016-08-07 16:50] ai commented on #864
А что будет, если посредине лоадер изменит код, но не обновит AST?

[2016-08-07 16:53] uMaxmaxmaximus commented on #864
Я слегка обновил пост, я думаю что код вообще передавать не нужно. Нужно передавать либо строку либо обьект имеющий метод `toString()`, и лоадеры должны знать что если им нужна просто строка то у первого аргумента они должны вызвать toString() а если же они могут обработать какой

[2016-08-07 16:54] ai commented on #864
Да, можно попробовать поговорить с командой вебпака. Создавай issue.

[2016-08-07 16:55] #864 closed

[2016-08-07 16:55] uMaxmaxmaximus commented on #864
Не обязательно с ними разговаривать, я просто напишу сам и скину им реквест)

[2016-08-07 16:58] ai commented on #861
@uMaxmaxmaximus зато жители других стран могут прочитать 😊. Жалко, что Эсперанто не пошёл.

[2016-08-07 17:04] uMaxmaxmaximus commented on #864
@ai слушай, вопрос, компиляция ast в соурсмэп, и в css код это дорогая операция?

[2016-08-07 17:26] uMaxmaxmaximus commented on #864
вот гляди, придумал механизм обратной совместимости:

Если лоадер ожидает третий аргумент (определяется как func.length > 2)
Тогда мы просто передаем ему этот аргумент (ast в нашем случае), если же лоадер ожидает всего 2 аргумента, то тогда мы вызываем функцию обработчик, которая генерирует нам массив из мэпа и скомпилированной строки. Выглядит признаться убого, но я пока еще думаю.

[code]

[2016-08-07 17:33] uMaxmaxmaximus commented on #864
@ai

во, я придумал, надо просто текущему лоадеру дать доступ к следующему лоадеру, элементарно =)

[code]

[2016-08-07 17:40] ai commented on #864
Да, но обсуди с ребятами из вебпака ;). Там очень много хитростей внутри — может это не будет работать, например, с кешами.

[2016-08-07 17:42] uMaxmaxmaximus commented on #864
А, ну да. точно.

[2016-08-07 17:45] uMaxmaxmaximus commented on #864
Может ты обсудишь? А то у меня траблы с английским а сложные предложения приходится упрощать и получается бред. Или у тебя время нет на такое? (

Как раз бы вам пригодилась такая фишка с передачей ast, раз вебпак так популярен.

[2016-08-07 17:53] uMaxmaxmaximus commented on #861
@ai обратная совместимость, все дела :blush:

[2016-08-07 18:26] ai commented on #864
Я сейчас брату показываю Россию — не смогу :(.

Но ты начни, там нейтивов мало. Просто чаще используй примеры кода, чтобы показать.

[2016-08-07 19:14] jamiehutber commented on #140
Did this ever get released? Because I still can't use comments

[code]

[2016-08-07 19:17] ai commented on #140
@jamiehutber you have issue, because you didn’t *change* parser ;)

[2016-08-07 19:39] jamiehutber commented on #140
Dam you're good on the whole reply thing 🌴

Nice one, I should have read the docs for postcss-scss properly :)

[2016-08-09 10:01] madx commented on #860
I tried that but I'm not really confortable with postcss source code and found nothing interesting :confused:

[2016-08-20 20:54] alexlibby opened #866 "Using remove() in plugin isn't removing original rule"
Hi,
I'm writing a plugin to transform a URL containing values, and add them as SASS-like variables to the head of my style sheet. The input style sheet contains a rule, inside which I have declared the URL as an attribute using ```content:```. You can see the WIP at https://github.com/alexlibby/postcss-color-cc-palette/.

I have most of the plugin working, but am struggling to get my head around h

[2016-08-20 21:18] ai commented on #866
Could you show full code example and `console.log` output?

[2016-08-20 21:45] alexlibby commented on #866
No problem - do the following in an ASTExplorer session:

1. Replace the input CSS with this:
[code]
2. Replace the code in the bottom left window with this:
[code]
The code I am trying to get working is in the ```// remove original rule``` section - this is the output from console:
![2016-08-20 22_42_05-greenshot](https://cloud.githubusercontent.com/assets/16504949/17834023/750d59e4-6727-11e6-920

[2016-08-20 21:58] ai commented on #866
What `selectorID` do you expect?

In this CSS

[code]

Rule has selector `#url` for me :)

[2016-08-20 22:17] alexlibby commented on #866
Yep - that's the one I would expect to see :-)

This is the one I want to completely remove, so my expected output (eventually) would be this:
[code]
There is still some tweaking to do, such as ensuring it lands at the top of any style sheet, but for now, I just want to see the original selector (in this case #url) removed.

[2016-08-20 22:22] ai commented on #866
@alexlibby you don’t need this code `var root = postcss.parse(css);`, `css` is already instance of Root!

[2016-08-20 22:24] ai commented on #866
Try to replace:

[code]

into

[code]

[2016-08-20 22:34] alexlibby commented on #866
Thanks for your help @ai - that worked perfectly!

I've changed it as indicated, although I had to change the .walkDecls command to root.walkDecls, before it worked:
[code]
I can now change the plugin code I have stored over at Github... :-)

[2016-08-20 22:34] #866 closed

[2016-08-21 09:31] yachaka opened #867 "[Help needed] Requiring a module to be executed with webpack loaders within plugin"
Hi,

I'm currently writing a plugin that imports all vars from a JS file and insert them as LESS variables on top of the CSS file.

The goal is to do `@import './vars.js';` in my CSS file and to have all the variables from the JS file included as `$var: value;`.

I'm having trouble actually requiring the JS with it being parsed by webpack ; like with ES6 support, etc.

Here is my current code :
`M

[2016-08-22 10:34] akella commented on #860
postcss-partials-import throws no errors, but just dont replace @imports
Here is working and not working configurations
![package json e2 80 94 postcss 2016-08-22 10-36-24](https://cloud.githubusercontent.com/assets/76031/17851913/217b4970-686d-11e6-9c6a-26b9c68f8dc8.jpg)

[2016-08-22 15:53] yachaka commented on #867
For anyone wondering, I've settled on using es5 for theses modules.  ¯\_(ツ)_/¯

[2016-08-22 16:32] ai commented on #867
Sorry, this question is for webpack ;).

I think webpack is too complicated and it is good example of problems from complicated API ;)

[2016-08-22 16:32] #867 closed

[2016-08-22 16:32] ai commented on #867
I use Gulp and have no good experience with webpack

[2016-08-22 16:40] yachaka commented on #867
Webpack has a really complicated API, that's for sure.
I'm pretty sure nobody really gets it.
Thanks anyways !

[2016-08-22 16:40] michael-ciniawsky commented on #867
@yachaka does it work that way? Maybe there is something coming up in regard of using es6 template literals and node's vm to use js templating for similiar proposes, but more generic, the problem is that examples with webpack (or any specific build tool) + postcss complicates to grasp the bits needed from the sole postcss side of affairs.

[2016-08-22 16:43] yachaka commented on #867
@michael-ciniawsky As @ai correctly mentioned, this is more of a Webpack issue. You're right though, Webpack code does obliterate the understanding at first sight.

[2016-08-26 12:07] ai commented on #860
@akella by some reason `postcss-partials-import` 2.0 imports only files started with `_` https://github.com/jonathantneal/postcss-partial-import/blob/master/lib/getPath.js#L12

[2016-08-26 12:07] #860 closed

[2016-08-26 16:44] GarthDB opened #870 "Pass processor options to result"
It would be nice to see the options used in the processor in the `result` object.

[2016-08-26 16:46] ai commented on #870
`result.opts`

[2016-08-26 16:46] #870 closed

[2016-08-26 16:48] GarthDB commented on #870
ha! I'm an idiot - thanks.

[2016-08-26 16:55] GarthDB opened #871 "Processor instance doesn't include parser"
If I wanted to reuse a processor it has the plugins, but it doesn't include the parser.

I could recreate the same processor by passing the same options through, but it seems like the parser is just as integral a part of the processor instance as the plugins, maybe more so.

Chatting with @ben-eb in the gitter - he brought up remarks' [api](https://github.com/wooorm/remark/tree/master/packages/rem

[2016-08-26 17:11] ai commented on #871
Hm, strange. The only way to set parser is options.

[2016-08-26 17:14] GarthDB commented on #871
@ai - it might work to implement [Unified](https://github.com/wooorm/unified) to handle the parser and plugin loading.

[2016-08-26 17:41] ai commented on #871
What do you mean?

[2016-08-26 20:38] ai commented on #871
What do you use to run PostCSS? gulp-postcss/postcss-cli/postcss-loader?

[2016-08-26 23:01] GarthDB commented on #871
With what I'm building I'm using the JavaScript API.

[2016-08-27 00:02] tunnckoCore commented on #871
I also starting to think that `unified` would be the best way to go for these 4 projects - @postjson, @poscss, @posthtml and @reshape. Another one can be @postcore when finish it (it's 90% ready and it's working).

[2016-08-27 00:08] ai commented on #871
Idea of global standard for AST-tools is nice, but Unified’s AST basis is not the best. @ben-eb told that in event based API we need something more Babel-like. Idea of separated `node` and `position` is nice.

But I love the idea of some global API standard across Babel, PostCSS and other tools. Maybe we could discuss this standard?

[2016-08-27 10:18] wooorm commented on #871
I’m all for unified. 😉 👍 I’ve thought a lot about creating processors with retext/remark/* and unified works well. I don’t know too much about PostCSS and the likes though.

That’s not entirely true.

a) [unified](https://github.com/wooorm/unified) is separate from [Unist](https://github.com/wooorm/unist): you can use any syntax tree you like (at least it should work, but is untested).

b) Unist d

[2016-08-27 10:24] ai commented on #871
@wooorm hi, awesome projects!

1. What is Unified without Unist?
2. I one hand I love pain JS objects. In other hand DOM-like API is very good for new developers. For example, Stylelint rules show be written by developer with any qualification. What you thoughts about it?
3. What do you think about Babel visitor API? It is good to combine all plugins to work in one loop instead of looping separate

[2016-08-27 10:49] wooorm commented on #871
@ai <3

unified is everything non-node: the plugin management (`.use`), processing stages (`.process`, `.parse`, `.run`, `.stringify`), constructing new processors, etc. Aside: there’s also helpers to create [“engines”](https://github.com/wooorm/unified-engine#projects) around processors, so you can create gulp-, grunt-, or atom- plugins, or CLIs, without much code.

I initially started with an ob

[2016-08-27 10:54] ai commented on #871
@wooorm I like the idea about engines. Where I can read about them and about your plugin API?

What do you think about `parent` node in AST?

Other question, how to make a validations? For example, to prevent user from setting integer to string value?

[2016-08-27 11:31] wooorm commented on #871
The plug-in API is described in [“processor.use”](https://github.com/wooorm/unified#processoruseplugin-options) (read the section on attachers and transformers too). “transformers” are run by [trough](https://github.com/wooorm/trough), so they can return values, return promises, accept a `next` callback, etc.

More on the engine is in its [readme](https://github.com/wooorm/unified-engine). The eng

[2016-08-29 00:14] ideadapt opened #872 "Ignored syntax error in :not pseudo class"
Hi there,

I just found, that `a:not(.a,.b)` is parsed without any errors. Following code runs without throwing an error:

[code]

According to https://www.w3.org/TR/css3-selectors/#negation only one simple selector is allowed as argument to :not.

I couldn't find a place to fix this easily.
I expected `not` to be a token listed in tokenize.es6. But then I realized that the tokenizer is not very s

[2016-08-29 00:16] ai commented on #872
PostCSS parser doesn't validate content, only syntax.

`not()` content is not a syntax.

There is a Stylelint to validate content.

[2016-08-29 00:16] #872 closed

[2016-08-29 00:18] ai commented on #872
The best way to work with it is to add new rule to Stylelint to validate `not()`. You can use postcss-selector-parser to parse selector content.

[2016-08-29 08:16] ideadapt commented on #872
In my opinion this is not about content and validation, but syntax and parsing. The parser of postcss seems not to be strictly spec conform. I think a non spec conform css input should throw an error.
As far as I see, postcss does not use postcss-selector-parser, or did I oversee something?

[2016-08-29 10:39] ai commented on #872
We use this spec in PostCSS parser: https://www.w3.org/TR/css-syntax-3/

It is content free spec, it describe only, that functions could be in selectors, but doesn’t describe what pseudo exactly could be in pseudo.

PostCSS is content-free parser, because it could be used in polyfills or prolyffils. What if `not()` pseudo will be changed in future spec?

This is why PostCSS parser doesn’t fall on

[2016-08-29 10:39] ai commented on #872
Why you don’t want to add this check to Stylelint?

[2016-08-30 21:20] ideadapt commented on #872
Hi
Thanks for the explanation.
[css3-selectors/#negation](https://www.w3.org/TR/css3-selectors/#negation) is part of [css-syntax-3](https://www.w3.org/TR/css-syntax-3).
At [CSSLint/parser-lib](https://www.github.com/CSSLint/parser-lib) the tokenizer itself is meant to be [spec conform](https://www.w3.org/TR/css-syntax-3/#tokenization) already. Thats why I came up with this issue. parser-lib threw

[2016-09-01 22:57] eramdam opened #876 "Attributes selectors with unquoted semicolon throw error"
Selectors such as `[attr=;]` return the following error when PostCSS parses the CSS input.

`<css input>:7:1: Unknown word`

Even though this selector is valid and correctly parsed by `postcss-selector-parser` itself.

[2016-09-01 23:10] ai commented on #876
I will try to look at it on this weekend. Feel free to ping me on next Friday again if I will forget.

[2016-09-02 22:46] ai commented on #876
Fixed dacd392

[2016-09-02 22:46] #876 closed

[2016-09-02 22:47] ai commented on #876
Sorry, it will be released only in 5.2, because it introduces new token.

You can use `postcss-safe-parser` until release.

[2016-09-02 22:58] eramdam commented on #876
@ai when is 5.2 planned? If there's a planning. I can wait a little 😊

(Thanks for the quickfix though! 👍  )

[2016-09-02 23:00] ai commented on #876
I try to release it on this weekend, but maybe it could take a week.

[2016-09-02 23:01] eramdam commented on #876
I can definitely wait :)

[2016-09-04 10:47] alexlibby opened #878 "Syntax error in API documentation for 'walkRules'"
Hi - I've spotted what I think may be a syntax error in the API docs example for walkRules:

Take a look at http://api.postcss.org/AtRule.html#walkRules - there is a back tick in the console.log statement, where it should otherwise be a single quote:
[code]
On a related point - when the back tick is changed, I get this:
![image](https://cloud.githubusercontent.com/assets/16504949/18230488/a623d1a2

[2016-09-04 10:51] ai commented on #878
1. Oops, second symbol must be back tick too. Fixed 652883d. Thanks for notice.
2. Back tick string could not work in Console, because it is ES6 feature https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals

[2016-09-04 10:51] #878 closed

[2016-09-04 21:39] ai commented on #871
The origin `processor` issue was resolved

[2016-09-04 21:39] #871 closed

[2016-09-07 06:08] ai commented on #876
Released in 5.2.

[2016-09-08 11:53] matijs commented on #643
Unticking `$(DevEnvDir)\Extensions\Microsoft\Web Tools\External` did the trick for me. It also allowed me to only have Gulp installed locally.

[2016-09-09 16:11] roose opened #882 "Incorrect position on minified css with sourcemaps"
In Firefox devtools on inspect `body` I see `base.css:3` not `header.css:3`.
If styles not minified all ok, in Chrome devtools all ok in both case.
If I add custom selector e.g. `.nothing {color:#000}` in the top of `header.css` Firefox shown: `header.css:1`, but really selector on position 2.

Windows 10
nodejs v6.2.2
gulp v3.9.1

Gulp task:

[code]

main:css:

[code]

base.css:

[code]

header.c

[2016-09-09 17:10] RyanZim commented on #813
@michael-ciniawsky how's that going?

[2016-09-09 23:49] ai commented on #813
@RyanZim we need to add this libraries to `gulp-postcss`, `postcss-loader` and `postcss-cli`. If everything will be OK, we could more it to core. Who want to do it?

[2016-09-09 23:52] ai commented on #882
Could you create some test project?

[2016-09-10 00:10] roose commented on #882
@ai done, https://github.com/roose/postcss-test

[2016-09-10 03:32] michael-ciniawsky commented on #813
@ai @RyanZim Error Handling is missing and a last review of the details for how the final accepted common config will look like. I'm sry for the insane delay on this i was interrupted by daily work a few weeks ago and at the moment i'm busy, because recently the laws in german (higher strictness) changed and most of the refugees i take care of got into serious trouble 'overnight'. Their laywers we

[2016-09-10 04:18] ai commented on #813
@michael-ciniawsky why do we need env? runners could do something like:

[code]

[2016-09-10 05:57] michael-ciniawsky commented on #813
👍  yep, that's want i wanted to express with that awkward ```env``` thingy rubbish :D... it's just a an object with the right values (paths, specific options, plugin options etc.) passed through from the various build tools in the current project context, which will be merge/assigned then. Whats your opinion about exposing the possibility assigning plugins to reorder them if necessary?

[2016-09-10 06:37] ai commented on #813
What is exposing? :) Could you show some examples? :D

[2016-09-10 08:51] michael-ciniawsky commented on #813
It's meant like providing plugin assignment as a possibility, but it's likely that expressing it that way in this context is plain wrong :D, maybe the correct use would be e.g when talking about a 'public API' and you expose a method or the like for public usage. (When a native speaker reads this, please feel free to correct me, and if it's just utter crap, hopefully no employer ever reads this :D

[2016-09-10 09:01] ai commented on #813
Ouh, very complicated user case :D. I think we could not focused on it and promote it.

[2016-09-10 15:41] RyanZim commented on #813
FWIW:

I don't use gulp, just postcss-cli.

I have often wished that there was a way to alter the config based on whether I am building for production or development. (I would prefer not to run my css through a minifier on every file change.) If I am understanding `env` correctly, this would allow for this.

However, do we need a full object for `env`? A boolean dev/prod flag would be fine for my

[2016-09-11 01:43] michael-ciniawsky commented on #813
@RyanZim

**NODE_ENV**
[code]

**NPM_CONFIG_ENV**
[code]

[code]

[code]

And/Or as you stated out, via CLI flag, but internally the flag could use ```NODE_ENV``` or ```npm_config_env/npm_config_postcss```. The ```env```Object i mentioned above was kind of a bad example for what i was trying to express, i intermixed the integration part into middlewares with passing values to postcss-load-config.

[2016-09-13 13:15] andywer opened #887 "Blank lines are stripped from css.toString()"
Compare postcss/postcss-import#206

[2016-09-13 13:33] ai commented on #887
Could you add code examples?

[2016-09-13 14:06] andywer commented on #887
Sure. My particular problem in `postcss-debug` is this:

[code]

[2016-09-13 17:07] ai commented on #887
What is `css` in your example above? ;) Please show me in what cases PostCSS ignore blank lines ;)

[2016-09-13 17:30] andywer commented on #887
`css` (first parameter of the `pluginFunction`), is a [Root](http://api.postcss.org/Root.html).

My sample CSS that confirmed the problem one of my plugin's users described was:
[code]

The blank line between `color: black;` and `&:hover {` is gone on `css.toString()`.

Hope that helps :)

[2016-09-13 17:53] ai commented on #887
I you sure? Here is my test:

[code]

And result is correct:

[code]

Do you know, that when you clone some node, PostCSS will remove all whitespace symbols? Maybe this is why blank line is missed.

[2016-09-13 18:07] andywer commented on #887
Ahhhh. That might be it: https://github.com/andywer/postcss-debug/blob/master/src/snapshot.js#L11

Is this intended behavior? I would not expect cloning to have an impact on the textual representation, since then it's not exactly a clone anymore ;)

[2016-09-13 18:09] ai commented on #887
I think this raws clone behavior was a mistake, but we need a major version to fix it :)

Please subscribe to this issue: https://github.com/postcss/postcss/issues/364

[2016-09-13 18:09] #887 closed

[2016-09-13 18:19] andywer commented on #887
Thanks! Understanding the underlying reason already helped a lot :)

[2016-09-15 11:00] ben-eb commented on #744
It might be nice to use https://github.com/wooorm/vfile for this. 😄

[2016-09-26 16:40] borodean opened #895 "Plugin integration"
There is a bunch of plugins that has the similar way of dealing with things, but it is sometimes really tough or impossible to make them work perfectly together.

Example: various plugins that implement custom functions: `height()`, `svg-load()`, precalculating `calc()`. Some of them use custom implementations, some reuse the amazing `postcss-functions` plugin. But if you want to make them work ni

[2016-09-26 16:48] ai commented on #895
Good idea. We already have idea, how to fix it https://github.com/postcss/postcss/issues/296

Closed. as duplicate, not as wontfix ;)

[2016-09-26 23:46] borodean commented on #895
@ai some brilliant discussion out there, I should have searched for it better. However, I don't really see how that topic covers my second point, the one about shared core for a few different plugins.

[2016-09-27 08:42] ai commented on #895
@borodean resolving core looks very promising!

@TrySound @jantimon @swernerx what do you think of creating something like `postcss-resolve-path` and use it in all your plugins?

[2016-09-27 10:43] borodean commented on #895
@ai I guess that the main complexity there would be the issue of sharing configs. How one can tell, say, postcss-assets and svg-load to use the same array of the load path upon path resolution?

[2016-09-27 11:12] ai commented on #895
I thought about same logic, not same config :D

User could put paths to variable and use this variable for both plugins

[2016-09-27 12:54] TrySound commented on #895
Config can be different for different cases. Save to variables if you want to reuse it.

[2016-09-27 15:31] jantimon commented on #895
In my plugin I had to add the `config.compilation.compiler` to https://github.com/jantimon/iconfont-webpack-plugin/blob/master/lib/postcss-plugin.js#L134 and moved the part where it loads and works with the images to another file so that webpack can watch the images for changes.
Unfortunately that way it works only with webpack.

[2016-09-27 21:50] g0ddish opened #896 "Extreme Webpack build times"
When using postcss with webpack anytime I use background-image: url my webpack build times go through the roof to 40+ seconds which is absolutely unacceptable. Has anyone else experienced this before possibly?

[2016-09-27 21:51] ai commented on #896
Could you show your webpack config?

What was change before slowing down?

[2016-09-27 21:52] g0ddish commented on #896
[code]

[2016-09-27 21:54] ai commented on #896
40 seconds is a production or development build?

PostCSS parsing is very fast. We need to find, what PostCSS plugin exactly slow down process.

[2016-09-27 21:55] g0ddish commented on #896
Development :(

[2016-09-27 21:56] ai commented on #896
When build process become slower? After what change?

[2016-09-27 21:57] g0ddish commented on #896
This takes forever
[code]
this takes half a second. Maybe I'm doing it wrong.

[code]

[2016-09-27 21:58] ai commented on #896
Could you add postcss-devtools to PostCSS loader to check how many time PostCSS plugins works?

https://github.com/postcss/postcss-devtools

[2016-09-27 22:22] g0ddish commented on #896
Where does it log to?

Changes to config ->
[code]

[2016-09-27 23:30] g0ddish commented on #896
The issue was unrelated to PostCSS for anyone in the future who comes across this this issue was with my image (jpg|png|gif) loaders. Thanks for your assistance @ai !

[2016-09-27 23:30] #896 closed

[2016-10-03 11:00] artemgurzhii opened #898 "Babel for CSS"
Have you thought about making a PostCSS pugin for CSS like Babel for JS? I think it will be a big step in front-end world. Here is example of what I mean.

[code]
would compiled to
[code]

[2016-10-03 11:08] ai commented on #898
[postcss-cssnext](https://github.com/MoOx/postcss-cssnext) already does some polyfills for CSS. But it has no maintainer right now. Do you want to be new maintainer for cssnext?

[2016-10-03 11:08] #898 closed

[2016-10-04 18:23] wmertens opened #899 "How to apply plugins only to certain files with webpack?"
For example, use the postcss-modules plugin only on css files under a given folder.

[2016-10-04 18:27] ai commented on #899
Specify path regexp in `test` key and use "plugins pack" (check postcss-loader for API)'in this loader.

Also it is wrong repo to report questions about postcss-loader 😉

[2016-10-04 18:27] #899 closed

[2016-10-06 12:32] renestalder commented on #409
Latest Jetbrain Editors have support for variables at least, as Visual Studio Code too. I understand why, for example, custom-media queries aren't supported yet: Because they are not fixed in the specification. (as you know lately it was decided that custom-media queries aren't in the Selector Level 4 Spec, postponed to next draft).

[2016-10-08 10:51] artemgurzhii commented on #898
@ai I would like to. Where can we chat? I would like to get more info.

[2016-10-09 16:36] ai commented on #898
@MoOx are you looking for new postcss-cssnext contributor? We have one here :).

[2016-10-09 18:53] MoOx commented on #898
maintainer != contributor ;)

Anyway, contributors are always welcome !

[2016-10-09 18:57] ai commented on #898
@MoOx I think we need to do features revision (like custom media was removed from spec) and add `stage` option to mark sure level of every feature. What do you think about it?

[2016-10-09 18:59] MoOx commented on #898
custom media hasn't been removed from spec. It has been delayed. But yeah things like a stage option could be nice. This should be discussed on cssnext repo :)

[2016-10-09 19:11] ai commented on #898
@MoOx so, what is @artemgurzhii next move? Create a issue in `postcss-cssnext` repo with stage for every plugin? What he could read to do it better?

[2016-10-09 19:25] MoOx commented on #898
There is already an issue about that. Best thing to be involved in cssnext is start to contribute to existing issues https://github.com/MoOx/postcss-cssnext/issues

[2016-10-11 22:57] ben-eb commented on #364
I'm going to try a different tack here, as I still don't like the duplication of this utility across the modules that I use it in. Can we add a new method, `cloneExact` which performs this behaviour, and deprecate it once we fix the actual `clone` method? This way I can rely on PostCSS again to clone nodes without having to write my own `clone` utility.

I can send a patch for this if you think it

[2016-10-12 10:11] ai commented on #364
@ben-eb maybe we should release 6.0 in next week? Remove deprecated code and fix `clone`?

[2016-10-17 17:32] lmi11 opened #900 "What about PostCSS on Ruby on Rails?"
What about PostCSS on Ruby on Rails? How I can use it?

[2016-10-17 18:15] ai commented on #900
If you ask about PostCSS and Sprockets — there is no easy way, because your need to use `npm`.

Technically, you could install PostCSS plugins via `npm` and then use it in Sprockets.

But, nobody develop out-of-box solution. Reason is very simple — Sprockets is dead. There is no ration reasons to use Sprockets, instead of Gulp or Webpack (I was a big fan of Sprockets and I know what I am talking a

[2016-10-17 18:15] #900 closed

[2016-10-21 13:02] maliyshock opened #902 "Postcss parser issue"
In package json i have this modules and dependencies
[code]

The full version looks like this
[code]

[2016-10-21 13:21] ai commented on #902
Could you please show real stacktrace with input CSS example?

“Something was wrong” and then I fixed it somehow is not a good issue report ;).

[2016-10-21 13:55] maliyshock commented on #902
http://joxi.ru/DmBnpRduNX4xOm
Output css is clear cause errors.

I know that is not good. But i don`t have any ideas whats wrong. And it is better then nothing.
I reproduce that situation on other machines with that package json

And i cant give you more examples, cause it is exist product.

Try it on your own code, with big scss files, and im sure u can reproduse that.

Input scss - the code is f

[2016-10-21 14:00] ai commented on #902
You give me a SCSS source, not CSS :).

You use `postcss-scss` to lint SCSS sources with Stylelint?

[2016-10-21 14:09] maliyshock commented on #902
Какого лешего мы на английском переписываемся? XD

По CSS. Он пустой на выходе. Т.е. как я себе это представляю. Postcss парсит css-ку в какой-то момент что-то идёт не так, он валится и выплёвывает пустой css.

Я не использую postcss-scss - это видно в packaje.json.
Я использую node-sass для компиляции scss  в css
Выглядит это так

`node-sass markup/scss/layouts/old-layout/index.scss | postcss --u

[2016-10-21 14:12] ai commented on #902
@maliyshock так зачем ты мне дал SCSS? ;)

Если хочешь исправить ошибку — открой новый issue, с входным CSS и stacktrace ошибки.

[2016-10-21 14:12] #902 closed

[2016-10-21 14:35] maliyshock opened #903 "Postcss parser issue"
Компилирую из scss без postcss получаю вот это
[my-styles.css.tar.gz](https://github.com/postcss/postcss/files/544537/my-styles.css.tar.gz)

Компилирую из scss c postcss получаю вот это http://joxi.ru/bmokpbNtM6yLvm или любую другую ошибку "unclosed brackets" или "unknown word"
на выходе после ошибки я получаю пустой css файл.

Про репродьюс я писал здесь https://github.com/postcss/postcss/issues/

[2016-10-21 14:41] ai commented on #903
На будущее — не пости stacktrace скриншотом. Скопируй просто текстов добавив три тильды сверху  снизу (это создаёт блок кода в Маркдауне).

[2016-10-21 14:42] ai commented on #903
Так же хорошей практикой считается сократить пример кода, пока ошибка продолжает повторяться. Чтобы сэкономить время мейнтенера.

[2016-10-21 14:44] ai commented on #903
В качестве проверки можешь открыть `node_modules/postcss/lib/parse.js` и поставить `console.log(css)` в функцию `parse` — там наверняка будет обрезанный CSS.

[2016-10-21 15:03] maliyshock commented on #903
Спасибо. Проверить смогу чуть позже.
Странно, что с терминалом, ибо если я фиксирую версию модулей, а не пишу "от такой-то версии и выше" - то всё работает ок. Может это проблема postcss-cli ?

[2016-10-21 15:03] ai commented on #903
Может. Или чего-то ещё.

[2016-10-26 14:53] ai opened #906 "Import Plugin"
Right now we have a some mess in `@import` plugins:
- `postcss-import` doesn’t provide out-of-box solution for most of developers and still looking a maintaier.
- `postcss-easy-import` has more features, but base on top of frozen `postcss-import`
- `postcss-partial-import` is good, but has not all of user request’s features.

Right now I am a fan of `postcss-smart-import`, because it has active de

[2016-10-26 15:04] jonathantneal commented on #906
Active development comes in waves for all projects, as each one gains new maintainers or adds new features.

1. I’m fine to map and merge features into a new `postcss-import` update, credit all authors, and work together moving forward.
2. With the breadth of plugins now available, it’s worth discussing the formation of a committee that white-lists plugins (perhaps we could even get a shield).

[2016-10-26 15:04] dan-gamble commented on #906
I remember when i came in a while ago when there was only 2 and that still threw me a bit. I agree with @jonathantneal 1st point

[2016-10-26 15:08] simonsmith commented on #906
Is it identical to `postcss-import`? The README is almost the same

I opened [this issue](https://github.com/sebastian-software/postcss-smart-import/issues/26) on `smart-import` as I'm unsure of its purpose. It's great that's actively maintained but if it inherits all the bugs in `postcss-import` then we've doubled the problem. Hopefully it can be clarified.

The most direct route is to try and at

[2016-10-26 15:28] ai commented on #906
@simonsmith unfortunately right now we have a few big problems in `postcss-import`:

1. It doesn’t support `.sss` or `.scss` imports out-of-box by design.
2. It doesn’t support globbing out-of-box by design.
3. Current `postcss-import` v8 branch has too many issues and @MoOx just want to return to v7 and start again.
4. `postcss-import` has no development. This issue is critical for `postcss-loade

[2016-10-26 15:31] simonsmith commented on #906
@ai Does `smart-import` address any of those issues?

[2016-10-26 15:31] ai commented on #906
@simonsmith let’s ask @swernerx

[2016-10-26 16:15] MoOx commented on #906
smart-import is a fork (unforked). This person should have asked or make PR to postcss-import imo.

Again, you talk like if there is a community, but there is mostly "just users" as this issue prove it https://github.com/postcss/postcss-import/issues/210 (still no response, or maybe more "no actions"...)

[2016-10-26 16:21] simonsmith commented on #906
There is a PostCSS community and we're here to try and sort out a plan for `postcss-import`. This thread right now is an action.

[2016-10-26 16:31] ai commented on #906
@MoOx your thread doesn’t work beacuase you didn’t do anuthing for it. There were few guys, who want to help. There were other import plugins development.

You should ask people directly and give a explicit steps — if you want somebody to help.

[2016-10-26 16:32] ai commented on #906
Yeap `postcss-smart-import` looks like “just `postcss-import` in development. So maybe we should just rename it to `postcss-import`?

[2016-10-26 16:34] MoOx commented on #906
or just make a PR to postcss-import. Looks more legit.

[2016-10-26 17:09] ai commented on #906
@MoOx you are looking for new maintainer, isn't you? In this case you should increase developer enthusiasm by giving more responsibilities. Unfortunately, non-strict instructions (what PR, for example) kills enthusiasm. For my experience, this it could be a main reason why you still didn't find a new maintainer.

In my experience there is two steps to transform a regular user into a open source ma

[2016-10-26 19:43] MoOx commented on #906
I am not looking for anything, the community does. I stopped actively maintaining it because I don't actively use it. For the same reason I am not spending time on "looking for" people to take the lead.
FYI, as a "user", when I see a project is not actively developed, I start to answer to issues, make some PRs to get trust of owner/maintainers (even if not active), then I ask for right to collab/p

[2016-10-26 19:58] swernerx commented on #906
It's interesting.

I am just starting to follow this thread.

PostCSS Smart Import was a fork of PostCSS Import, right.

It has different goals though. It has larger goals.

The first thing is that I updated all the deps.

Then I removed all the media query handling for imports. PostCSS Import claims it follows the CSS spec here. I don't care about that. In my opinion the CSS spec of imports is no

[2016-10-26 23:22] michael-ciniawsky commented on #906
@swernerx what is your opinion on making it a preset instead of a plugin e.g

**postcss.config.js**
[code]
common config will support it with next release. Other ideas/feddback welcome :)

Besides that, atm it looks like `postcss-smart-import` , as you mentioned, is a clean and updated version of `postcss-import`. For the matter of fact and as a starting point here at `postcss-import` would it be

[2016-10-27 06:34] swernerx commented on #906
- As I said it has a different scope. So I do not think a PR makes sense. It reduces features e.g. the media query based imports.
- I do not like to put sensible default behavior into a config file so that every user has to care. We now what extensions e.g. are used for sugarss, etc. We just have to handle them right. Same with asset paths.

[2016-10-27 09:08] airdrummingfool opened #907 "postcss is injecting generated .css file into source list"
Using gulp and gulp-usemin, I compile a set of LESS files into one generated `main.css` file. When including postcss (without any plugins) in the pipeline, the sourcemaps include this generated `main.css` file in the `sources` list.

Simplified version of `main.css.map` file without postcss:

[code]

Simplified version of `main.css.map` with postcss (without any plugins):

[code]

How can I preven

[2016-10-27 13:09] michael-ciniawsky commented on #906
The revert from v8.x to 7.x currenty discussed would remove media query based imports aswell if I got that right and since the necessary cleanups (which you already did), is on the list of whomever will be the maintainer of `postcss-import` anyways, it as more in the direction, if you would be so polite to make your efforts available here.

The preset example above may be misleading, it's not nece

[2016-10-27 18:29] kevinSuttle commented on #906
Poor attitudes in responses could be another reason why there is "no community" or no one willing to contribute...

[2016-10-28 00:52] iObject commented on #340
@bkinsey808 I've tried it, does terrible things in IE10 by using javascript to manipulate your elements.

[2016-10-28 11:19] ai commented on #907
I think problem is that not all symbols has mappings in Less source map (for example, whitespaces). So when PostCSS create mappings for all symbols, some of them connect with Less’s mapping, but some have no connections.

Honestly, I don’t know best solution right here. And do we really need to spend time to fix it? ;)

If you really want to fix it, you can use [source-map-visualization](https://s

[2016-10-28 11:28] ai commented on #906
@swernerx I like waht you did in `postcss-smart-import`, but I am not big fan of integrating plugins into each other ;).

I see this problems:

1. Users want the different syntax for different cases (like `inline()` from `postcss-assest` and `url()` from `postcss-url`).
2. `postcss-url` is used in many hacks, where you didn’t want to have `@import` support. For instance, if user just want to set c

[2016-10-28 22:55] RyanZim commented on #906
Well said! A few thoughts on how to do that:

1. Use sensible defaults (pretty good in the postcss ecosystem, would prefer a few changes to `postcss-url`'s defaults; bikeshed that somewhere else :wink: ).
1. Plugin packs/presets (like Babel) are a good idea; postcss should have more, and someone should write a boilerplate or lib to streamline making plugin packs.
1. Users that want a streamlined,

[2016-10-29 01:09] michael-ciniawsky commented on #906
[code]
### postcss-preset-awesome

**package.json**
[code]

**index.js**

[code]

### Usage

**postcss.config.js**

[code]

👍  Same as above but with `postcss-load-config` instead of `postcss-load-plugins`

Another way would be like [PreCSS](https://github.com/jonathantneal/precss/blob/master/index.js) does it.

[2016-10-31 23:20] ai commented on #906
@MoOx we found a good maintainer for `postcss-import` are you ready to take this heavy work from you?

because I think we should work at `postcss-import` next major.

[2016-11-01 09:25] MoOx commented on #906
PR are always welcome. A good PR will be enough so I can give all required rights to the right people :)

[2016-11-02 12:46] RyanZim commented on #906
I did some digging in the source code, and I just can't get to the bottom of https://github.com/postcss/postcss-import/issues/168. @ai I hate to do it, but perhaps we should revert to v7? Of course, if someone can point me in the right direction, perhaps I can fix v8. @TrySound ?

[2016-11-02 13:56] jonathantneal commented on #906
It looks like the existing [**postcss-import**](https://github.com/postcss/postcss-import/blob/master/index.js) has a very strong, lite core. My recommendation would be to turn every feature (even some currently in the core) into an external feature that can hook itself into that core. Sorry if I’m getting off topic.

[2016-11-02 14:08] ai commented on #906
@jonathantneal I totally agree, that modularity is awesome for *internal* architecture.

But my experience in PostCSS maintaining showed to me, that modularity is not so good in end-user UX.

Right now main complain about PostCSS is that users ned a hours to configure a simple build process. Imagine how that are disappointed, when they need to search, select and fix compatibility problems between

[2016-11-02 14:09] ai commented on #906
@RyanZim do postcss-smart-import has this "v8" issues?

[2016-11-02 14:10] ai commented on #906
@MoOx let's just change a postcss-import maintainer without PRs. I think postcss-smart-import author showed, that he is aa good maintainer.

[2016-11-02 14:13] RyanZim commented on #906
@ai If I tested correctly, yes; postcss-smart-import has that issue. https://github.com/postcss/postcss-import/issues/168

[2016-11-02 14:15] ai commented on #906
@swernerx what ssh you think about that issue? Should we downgrade plugin or it could be fixed in current architecture?

[2016-11-02 14:18] RyanZim commented on #906
FWIW, it appears to be a race condition in nested import loading. Make sure to use the test at https://github.com/postcss/postcss-import/pull/169; otherwise the issue is intermittent.

[2016-11-02 14:35] MoOx commented on #906
@ai the idea is not be be a good maintainer or not. The idea is to care about the module and the goal of the module. postcss-"smart"-import is just postcss-import with less and others features that should definitely not be in a module that inline `@import`. So you should better fix postcss-import issues first, then provide (like you said) a good UX with high level package that rely on postcss-impo

[2016-11-02 14:39] RyanZim commented on #906
IMO, if someone can fix https://github.com/postcss/postcss-import/issues/168 or point me in the right direction to fix it, we can work with the current architecture. If not, we'll be forced to revert.

[2016-11-02 15:52] ai commented on #906
@MoOx if you really want core module idea we could rename `postcss-import` to `postcss-import-core` and use `postcss-import` for full-features version.

Current problems with `postcss-import` + `postcss-easy-import`:

1. Users see `postcss-import` plugin, take it and didn’t find a features. You must to be deeply into PostCSS community to find `postcss-easy-import`. See [downloads stats](http://www

[2016-11-02 15:54] ai commented on #906
@MoOx I understand that you like W3C compatibility idea.

But right now `postcss-import` doesn’t have a maintainer. There is very important `dependency` message issue and you didn’t even ask for PR.

So, from my point of view, any maintainer (but I think @swernerx is good) is better, that no maintainer at all. Especially for so critical plugin like `postcss-import`.

Could you collect what philoso

[2016-11-02 16:15] MoOx commented on #906
Maybe you should just wait for a response from @swernerx before assigning him... He said he is not interested in the core idea of postcss-import (which mostly stick to following the css specs) and he has larger goals (but without following the entire specs, since he removed support for mq...). @swernerx correct me if I am wrong :)

If this was really important, everybody were adding stupid "+1" in

[2016-11-02 16:17] ai commented on #906
I am OK with @RyanZim too :). @RyanZim do you want to be a `postcss-import` maintainer?

[2016-11-02 18:00] RyanZim commented on #906
@ai I would be willing.

---

Disclamer:

To be honest, postcss/postcss-import#168 has me stumped harder than any other bug I've ever encountered. That bug is the only reason I haven't fixed https://github.com/postcss/postcss-import/issues/233 yet. I don't want to fix it only to revert to v7 & do it all over again in a few weeks!

I'm going to discuss postcss/postcss-import#168 a little with @MoOx

[2016-11-03 12:53] RyanZim commented on #906
@ai PR for postcss/postcss-import#168 done: https://github.com/postcss/postcss-import/pull/236.

[2016-11-03 13:09] simonsmith commented on #906
Great work @RyanZim

[2016-11-04 09:06] ai commented on #906
@RyanZim could you send PR with `dependency` message too? https://github.com/postcss/postcss-import/issues/233

@MoOx so, let’s change a maintainer and start picking a features?

[2016-11-04 09:09] MoOx commented on #906
He already have all the rights and started to check and respond to issues.

[2016-11-04 23:47] erquhart commented on #797
@matthew-dean I think he means a small website/app with styles written in less, with a watch task in place via npm-scripts/grunt/gulp.

[2016-11-04 23:57] erquhart commented on #907
The resulting sourcemap causes the browser to look for a file that doesn't exist, and bad data is a problem when anyone wants to use the postcss api for anything serious, like any kind of wrapper tool.

In my case, I'm copying the sources files to dest, and have no reliable way to determine which entry in the sources array is the bogus one. PostCSS reliably adds it and shouldn't.

Does this at lea

[2016-11-05 00:01] ai commented on #907
@erquhart I think you should not always be sure in `sources`. What if some other tool will miss mapping for some `a{}`? In this case PostCSS anyway will use `.css` file mapping.

Sometimes PostCSS plugins developers write bad code and miss `Node#input`. In this case PostCSS set `<no source>` source (it helps to find this mistakes).

So you should write:

[code]

[2016-11-05 00:03] ai commented on #907
Of course, if you have time for investigation I will accept PR.

As I told you should start from `source-map-visualization` to see differences between PostCSS and Less mappings. Maybe you will find, that Less miss mappings for some symbols or whitespaces. Or maybe it could be a small PostCSS mistake.

[2016-11-05 00:03] erquhart commented on #907
@ai right, but what if a source's path is bad for some other reason? I'd like to warn the user and maybe even error out. But due to this issue, my only route currently is to silently fail as you're suggesting. I'm not able to improve the user experience by providing useful warnings that may be meaningful.

[2016-11-05 00:05] ai commented on #907
@erquhart it is good that you try to provide a better UI for users :).

OK, show me a that strange mappings (you can see it by `source-map-visualization`). Then I will tell you how we can fix it.

[2016-11-05 00:37] erquhart commented on #907
@ai here ya go:

[source -> transpiled](https://sokra.github.io/source-map-visualization/#base64,LmZvbyB7CiAgYmFja2dyb3VuZDogIzAwMDsKfQpib2R5IHsKICBjb2xvcjogYmxhY2s7Cn0KYm9keSB7CiAgY29sb3I6IHdoaXRlOwp9,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNyYy90ZXN0L2ltcG9ydHMvaW1wb3J0Lmxlc3MiLCJzcmMvaW1wb3J0Lmxlc3MiLCJzcmMvdGVzdC9sZXNzLmxlc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxnQkFBQTs7QUNERjtFQUNFLFlBQU

[2016-11-05 00:44] ai commented on #907
Strange. I didn’t see a `.css` mapping there O_o. Maybe we don’t clean `sources`?

Could you show `result.map._mappings`? (set `map: { inline: false }` to get `result.map`)

[2016-11-05 00:50] erquhart commented on #907
That is the map from result. I don't use inline maps.

[2016-11-05 00:51] ai commented on #907
@erquhart sure, just show me a `._mappings` inside this `result.map`.

[2016-11-05 00:55] erquhart commented on #907
Ah, didn't even realize the map itself isn't provided in the visualization. Below is the entire map produced by postCSS, prettified. Let me know if you need the input map as well.

[code]

[2016-11-05 00:58] ai commented on #907
I need a PostCSS map mappings. Not a PostCSS map JSON, but `result.map._mappings`.

`result` is that thing from `postcss(plugins).process(css) //=> result` (when you use low-level JS API). `_mappings` is a private method from `sourceMap.SourceMapGenerator`, which show decrypted mapping.

(Or just create a simple test project, I could look at it on next weekend.)

[2016-11-05 01:00] erquhart commented on #907
Gotcha:

[code]

[2016-11-05 01:02] ai commented on #907
Sure, seems like we have a PostCSS issue here. `sources` are not cleaned.

[2016-11-05 01:03] erquhart commented on #907
Cool. Looks like PostCSS is mapping the closing brackets?

[2016-11-05 01:04] ai commented on #907
I need to go to bed right now. Could you create a small test project?

[2016-11-05 01:04] erquhart commented on #907
I'll get one together soon. Thanks for your help, have a great night.

[2016-11-06 18:36] alexisvincent opened #913 "PostCSS in the browser"
What kinds of things make it hard to run PostCSS in the browser. I'm asking because I'm particularly interested in getting the PostCSS ecosystem running smoothly in SystemJS.

[2016-11-06 18:38] ai commented on #913
Just use webpack/browserify to build a PostCSS and plugins into a single file.

Is it OK for your case?

[2016-11-06 18:41] alexisvincent commented on #913
Thanks for the amazingly quick response. I noticed @guybedford did this in the latest systemjs-css plugin. Whats stopping me from importing postcss and plugins in the application and using it like that?

[2016-11-06 18:44] ai commented on #913
I added a `Browser` section to docs b302129

[2016-11-06 18:44] ai commented on #913
@al

[2016-11-06 18:44] #913 closed

[2016-11-06 18:56] alexisvincent commented on #913
Thanks. To clarify, why this, over importing and using plugins directly in 'application' level code (Which gets compiled by something like browserify or webpack)?

[2016-11-06 19:26] ai commented on #913
If your application is built webpack/browserify you could use PostCSS inside app’s webpack :D.

Maybe I didn’t write it clear. Do you want to send a PR for this section?

[2016-11-06 19:53] alexisvincent commented on #913
Ok thanks. Do you know to what degree other plugins support running in the browser?

I'll contribute once I'm feeling more confident I know whats going on :) Thanks :)

[2016-11-06 19:54] ai commented on #913
Most of non-fs-related plugins are working (of course, postcss-assets or postcss-import could not work, because of lack of FS)

[2016-11-06 19:58] alexisvincent commented on #913
This is what I would have expected. However there's no real reason fs related things shouldn't be able to work. If we have a way of mapping browser URL's to files.

[2016-11-06 19:59] al commented on #913
Wrong @al. Unsubscribing.

[2016-11-06 20:05] alexisvincent commented on #913
@al How did you even get pulled in to this convo?

[2016-11-06 20:06] ai commented on #913
@alexisvincent what is “convo”?

[2016-11-06 20:08] alexisvincent commented on #913
@ai Sorry, convo <-> conversation

[2016-11-06 20:09] alexisvincent commented on #913
@al isn't mentioned anywhere, any yet he was still subscribed to the issue. Sounds like a bug with github to me

[2016-11-06 20:09] ai commented on #913
@alexisvincent I make a typo and then edit message.

[2016-11-06 20:18] alexisvincent commented on #913
Oh I see 👍

[2016-11-10 00:25] emilbayes opened #914 "Absolute sourceMap paths"
It seems this was requested in #757, but with the difference being not resolving paths with a protocol given. I really want my sourceMap `sources` to be absolute paths, and have changed [lib/map-generator.es6#L177](https://github.com/postcss/postcss/blob/b302129035c895d2723400e81306226ccdcf0d3f/lib/map-generator.es6#L177) to `path.resolve` in my installation. Could we make this an option, as to pr

[2016-11-10 00:28] ai commented on #914
Why do you need it absolute? What is your use case?

[2016-11-10 00:34] emilbayes commented on #914
So my current use case is pretty specific; my test server for prototyping parses all the html it sends off and resolve any css using PostCSS. I've made a live reload plugin that will let me update inline "compiled" css, but the live reload server sends off absolute urls. Since relative urls can be ambiguous, it is not always possible to check whether the relative url in the source map is the same

[2016-11-10 00:37] ai commented on #914
If it is very specific, maybe you can just write relative-to-absolute tool? And just call it on source maps after PostCSS? 😊

I think it could keep PostCSS API clean, but still since your problem.

Also this till will be useful for many other processors with source map (like Babel or Sass).

[2016-11-10 00:38] emilbayes commented on #914
Well, my use case is specific, but the applicability of absolute paths is not. The API is not disrupted by this change, since this would be a semver minor change.

[2016-11-10 00:40] ai commented on #914
Hm. OK. I will think about it.

But I am not planning minor release on this week 😞. So release week not be soon.

[2016-11-10 00:43] emilbayes commented on #914
Another option might be to allow to set a `sourceRoot` which would also solve the problem, and may be more semantic to the spec

[2016-11-10 00:43] ai commented on #914
sourceRoot is much interesting! We have more use cases for it.

[2016-11-10 00:45] emilbayes commented on #914
Another application of this is if you write your output to a different place than where your input lives. I guess you solve this by resolving `from` and `to`, but if `to` can't be determined ahead of time, absolute paths are your only option

[2016-11-10 13:39] RyanZim commented on #906
`dependency` message added: https://github.com/postcss/postcss-import/pull/241

[2016-11-12 18:54] ai commented on #914
So, does `sourceRoot` fixes all problems? I think it is better API. Do you want to make PR?

[2016-11-15 02:31] emilbayes commented on #914
@ai I ended up re-resolving the source map `sources` in relation to `to` which worked great. For anyone else coming here, this is what I ended up doing:

[code]

[2016-11-15 02:35] #914 closed

[2016-11-15 03:28] sormy opened #916 "map.sourcesContent doesn't work together with map.from"
[code]

code below will produce `sourcesContent: [ null ]` instead of `sourcesContent: [ '...' ]` but will produce correct source name `src/test.css`.

If i will remove `from` option then `sourcesContent` will have correct value but `sources` will have `test.css` instead of `src/test.css`.

So there is no way to keep correct source name together with source content.

Looks like a two defects:

* `

[2016-11-16 00:32] ai commented on #916
Very weird. I will try to look in this weekend. Feel free to ping me in Monday if I will forget.

[2016-11-16 00:34] ai commented on #916
Will it work if you will set `to: 'src/test.css'`? Will it work if you set absolute path to `from` and `to`?

[2016-11-16 08:57] yisibl commented on #797
Chrome 53:

![image](https://img.alicdn.com/tps/TB1mKRqOpXXXXc8XXXXXXXXXXXX-504-286.gif)

[2016-11-17 04:06] sormy commented on #916
@ai no, it doesn't

[2016-11-17 16:03] uncleyo commented on #916
Hi, I think I hit the same issue when running `postcss` on `node-sass` output.
if `map.from` is set, the resulting `.map` file only references the empty _virtual_ file, while all original sass maps are gone.

[2016-11-21 19:53] hudochenkov opened #918 "Missing semicolon if order of nodes is changed"
I'm changing order of rule nodes. Just simple `.reverse()`: http://astexplorer.net/#/2uBU1BLuJ1/7

Input:

[code]

Output:

[code]

In the first rule semicolon after `@extend` is missing. I suppose it happens because of `.raws.semicolor: false` on the rule.

If it's an intended behaviour, can you, please, suggest some workaround to preserve semicolon for each node?

[2016-11-21 19:57] ai commented on #918
Main problem that in this case PostCSS could not detect does user want to write semicolon.

[code]

You could detect by some logic in your plugin and then force all `raws.semicolon` to same value if last child is `Rule`.

Problem that semicolon logic was created for standard CSS. I am open for any parse changes, but I need some strict rules.

[2016-11-21 20:14] hudochenkov commented on #918
I've just set `node.raws.semicolon = true`. I think it's pretty safe for postcss-sorting case.

Thank you.

[2016-11-21 20:14] #918 closed

[2016-11-22 08:01] gucong3000 opened #919 "`postcss.vendor.unprefixed` outputted different from input value."
Input code
[code]

Output code
[code]

Function
[code]

https://github.com/gucong3000/postcss-unprefix/issues/1

[2016-11-22 12:31] ai commented on #919
Fix was merged

[2016-11-22 12:31] #919 closed

[2016-11-22 12:46] ai commented on #919
Released in 5.2.6

[2016-11-23 07:26] airdrummingfool commented on #907
Here's a simple example project: https://github.com/airdrummingfool/postcss-issue-907

If you remove the empty postcss task (`postcss([])`) from the usemin `less` build pipeline, `styles/main.css` does not show up in the `sources`.

[2016-11-28 17:48] ben-eb opened #923 "Stricter string parsing"
According to the specification, newlines (`\n`) are invalid in CSS strings unless escaped with a backslash. So, this example is invalid:

[code]

But this is valid:

[code]

Ref: https://www.w3.org/TR/CSS2/syndata.html#strings

[2016-12-01 20:37] keithjgrant commented on #620
Does this mean PostCSS should throw an error upon finding an invalid comment (`//`)? Because I’m seeing these silently breaking my CSS, and I really wish I could get it to log an error.

[2016-12-01 20:52] ai commented on #620
@keithjgrant yeap, PostCSS throws. But maybe your `gulp-postcss` or some other tools in environment hide it.

[2016-12-02 00:00] alexturpin opened #925 "Source map line numbers off by two with no plugins"
Hey all,

I've encountered a bit of an issue with sourcemaps. My workflow is that I first compile my SASS code down to CSS, and then use PostCSS on the resulting code / source maps.

My problem is that even with no plugins, after going through PostCSS, source map line numbers are off by 2 (they point to 2 lines before the actual line). Here is a small example that reproduces the problem:

[code]

[2016-12-02 16:12] ai commented on #925
Check source maps after each steps by [source-map-visualization](https://sokra.github.io/source-map-visualization/).

If you find problem in PostCSS, please create separated issue with input CSS, input map, output CSS and map.

[2016-12-02 16:12] #925 closed

[2016-12-02 16:34] alexturpin opened #926 "Source map line numbers off by two with no plugins"
Hey all,

I've encountered a bit of an issue with sourcemaps. My workflow is that I first compile my SASS code down to CSS, and then use PostCSS on the resulting code / source maps.

My problem is that even with no plugins, after going through PostCSS, source map line numbers are off by 2 (they point to 2 lines before the actual line).

This is the input CSS and input source map generated from SAS

[2016-12-02 16:35] alexturpin commented on #925
@ai see #926

[2016-12-02 16:56] ai commented on #926
Yeap, `a` selector mapping is broken.

Right now I am preparing for conference and will be free after Dec 11. Could it wait until this date? Maybe I will have time on next week.

[2016-12-04 19:02] alexturpin commented on #926
@ai Yep that's fine, just wanted to make sure that it was logged somewhere.

[2016-12-05 23:14] bb010g commented on #364
Is there any sort of ETA for 6.0? (I'm guessing it's not next week anymore.)

[2016-12-05 23:29] ai commented on #364
@bb010g ouh :D honestly, not in first half of 2017 — I am working on [Logux](http://github.com/logux).

What problem do you have? Maybe I could help you.

[2016-12-06 00:12] bb010g commented on #364
@ai It's a blocker for postcss/postcss-import#206. Not the end of the world, but it would be nice to see it fixed at some point.

[2016-12-07 21:22] MatteoWebDesigner opened #928 "Postcss out of memory when it is parsing many files"
Basically postcss parse and keep in memory every file passed by grunt blob and it parse until breaking and goes out of memory.

example:

[code]

error message I see in console:
[code]

[2016-12-07 22:28] ai commented on #928
This question is for `grunt-postcss`. PostCSS should keep only current file :D.

[2016-12-08 13:30] jonathantneal opened #929 "Plugin#process change"
In the next major version, may we please separate plugin options from process options?

[code]

---

Right now, the `Plugin#process` method mixes both the process options and plugin options. This makes accurate stand-alone testing impossible.

[code]

Because the options are mixed, plugin options cannot use the same names as process options (see [processOptions](http://api.postcss.org/global.html#

[2016-12-08 14:16] ben-eb commented on #929
This method signature is lacking the `css` input, it should be:

[code]

[2016-12-09 10:30] iamfrntdv commented on #364
This issue is blocking usage of stylelint and postcss-browser-reporter. There are some important stylelint rules for our team ```"block-closing-brace-newline-after": "always"```, ```"block-closing-brace-newline-before": "always"```. If i add stylelint after import (gulp) it will trough an error, if it will before it won't lint all css files as there is escape pattern for some files which are impor

[2016-12-23 21:12] ben-eb opened #933 "Confusing `raws` behaviour"
Ref: [December 23, 2016 10:11 AM](https://gitter.im/ben-eb/cssnano?at=585cf868c02c1a3959a3638d)

[code]

I looked into the AST produced by PostCSS and what ends up happening is that the semicolon from (logically) the first rule is in fact tacked on to the `before` raw value of the comment node. Because cssnano removes the comment nodes then the semicolon is lost, but I don't think that the semicol

[2016-12-23 21:57] ai commented on #933
Is it correct CSS? I thought that `;` could not be in rules context

[2016-12-23 22:14] ben-eb commented on #933
Yeah, it's correct, there's a nice blog post on CSS mixins here https://blog.hospodarets.com/css_apply_rule. 😄

e.g.

[code]

[2016-12-23 22:17] ai commented on #933
Main problem that current parser was not designed for this spec :D.

We could add `raws.ownSemicolon` to the `Rule`.

[2016-12-23 22:35] ben-eb commented on #933
Changing the parser behaviour could be problematic. 😕

Do we want to wait for a major version?

[2016-12-23 22:36] ai commented on #933
It could be do in minor, because I'll paying this was not part of public API

[2016-12-23 22:41] ben-eb commented on #933
OK, fair enough. 👍

[2016-12-23 22:41] ai commented on #933
But we could make it major to clean deprecated API 😉

[2016-12-23 22:47] ben-eb commented on #933
Do you have a date for when you'd like to release a new major?

[2016-12-24 08:34] ai commented on #933
Hm. In the middle of January?

[2016-12-24 13:19] ben-eb commented on #933
Alright, that seems OK. Going to have to start this monorepo transition! 😀

[2016-12-26 15:14] Diokuz opened #936 "JS API example not working"
Hi there. I have a problem... I cant understand how readme example is supposed to work:

[code]

What is `css`? In the doc you write [It is a String with input CSS](http://api.postcss.org/Processor.html#process)...
but if I have to read my input file and place it as a string to `css` argument, what is `options.from` then?

Also, why I should write `app.css` file in promise `then`? What is `options

[2016-12-26 15:25] ai commented on #936
Docs about `from` and `to` options: http://api.postcss.org/global.html#processOptions

This options is a filename of origin file (for instance, `app.css`) and output file after PostCSS (for instance, `app.min.css`). You need to specify this file names to generate correct source map.

[2016-12-26 15:26] ai commented on #936
You need a `process(…).then()` because some plugins could be async.

[2016-12-26 15:26] RyanZim commented on #936
`css` would be a string containing the contents of src/app.css.

postcss itself doesn't do any filesystem read/write based on `to` and `from`.

[2016-12-26 15:27] ai commented on #936
You have a `fs.writeFileSync('app.css', result.css)` inside `process(…).then()`, because only in `then()` callback you will get processed CSS after PostCSS transformations

[2016-12-26 15:30] ai commented on #936
I made JS API example in docs more clear: 2820c76

Thanks for your questions

[2016-12-26 15:30] #936 closed

[2016-12-26 15:34] Diokuz commented on #936
Thank you, but I still have a question) Why you have to place `'src/app.css'` and `'dest/app.css'` code twice? Why you cannot use only `options.from` and `options.to`, without `css` argument and `then` with fs.write magic? It looks like repeated unnecessary double-logic.

[2016-12-26 15:40] ai commented on #936
@Diokuz I thought about file system shortcut. But it is unnecessary in most of cases:

1. `gulp-postcss` gets file content via Gulp API.
2. `postcss-loader` gets file content via webpack API.
3. PostCSS CLI use better reading mechanism to read multiple files faster.
4. PostCSS for client JS has even no access to `fs`.

In result there is no good reason to some `postcss().readAndWrite()` shortcut.

[2016-12-26 19:27] Diokuz commented on #936
So, maybe just handle that case:
[code]
I dont think one more `readAndWrite` method is a good idea either) but I think code-example above is more consistent and simpler for JS API usage.

[2016-12-26 19:32] RyanZim commented on #936
@Diokuz Most postcss runners aren't getting the file contents directly from the filesystem:

So we need to support passing and returning strings.

[2016-12-26 19:32] ben-eb commented on #936
I like showing the simplest example based on the lowest common denominator (the console, available both in browser and node). This is most amenable to "copy, paste & run".

https://runkit.com/npm/cssnano

[2016-12-26 19:34] RyanZim commented on #936
@ben-eb Not a bad idea to eliminate the `fs` from the example entirely. :+1: @ai?

[2016-12-26 19:44] Diokuz commented on #936
Why just make another `if (type of argument[0] === 'string') ... else if (typeof === 'object')` ?)
Docs says `from` and `to` – both are files, and I expect that if I need only input and output files, I can use only these two parameters, and forget about `css`-string and `then`, and `fs`.

[2016-12-26 19:59] RyanZim commented on #936
That would be implicit behavior, not a good idea in most cases. Also, you must keep in mind that postcss core can run in the browser as well, so putting `fs` manipulations in core is just adding complexity. Not in favor of this.

[2016-12-27 04:05] ai commented on #936
@RyanZim I uses `fs` to show:

* that you need to write `.map` only if it is present in `result.map`.
* what is `from` and `to` options.

[2016-12-27 04:06] ai commented on #936
@Diokuz and what is a reason for this `.process({ from: 'src/app.css', to: 'app.css' })` shortcut? It will increase code size and decrease maintainability without any benefits for any popular runner.

[2016-12-27 07:57] Diokuz commented on #936
I think I did not get something important here, please, help me)

It seems to me that `.process({ from: 'src/app.css', to: 'app.css' })` more consistence with docs) It just says that `options.from` and `options.to` – are files. And logical question here: why these parameters not work)

http://api.postcss.org/global.html#processOptions

Also, I did not get, what css will be taken in this example an

[2016-12-27 08:41] ai commented on #936
@Diokuz `options.from` and `options.to` are used only for source maps. Source map should contains a paths. PostCSS *doesn’t* load file from `a.css`, it takes CSS content from `css`.

We could add `.process({ from: 'src/app.css', to: 'app.css' })`, but nobody will use it. Every PostCSS runner (`gulp-postcss`, `postcss-loader`, `postcss-cli`, `postcss-js`) uses different methods to read/write files.

[2016-12-27 09:22] michael-ciniawsky commented on #936
@Diokuz

[code]

[2016-12-29 06:02] hbshun opened #938 "npm install postcss Error."
Node 5.9.1
npm 3.7.3

------------

➜  ~ npm install postcss
npm ERR! cb() never called!

[2016-12-29 06:06] ai commented on #938
node.js 5 is not supported anymore https://github.com/nodejs/LTS

It even doesn’t have a security updates. This is why you should update it.

This reason happens because of `caniuse-db` issue with node.js 5, but nobody will fix it, because node.js 5 should not be used in any production https://github.com/Fyrd/caniuse/issues/2981

[2016-12-29 06:06] #938 closed

[2016-12-29 06:28] hbshun commented on #938
Well, thank you

[2016-12-29 11:14] hzlmn opened #939 "Parser structure"
While was reading throught `postcss` sources, found a moment that current parsing architecture looks
[code]

While it works fine, I am really wondering if there are any reasons for not using `tokens streaming` like `babylon` do for example, where you plug tokenizer in parser, or expose something like `readNextToken`?

In this manner you only scan source once, instead of scanning source and then it

[2016-12-29 11:33] ai commented on #939
There is no real reason for it. Personally, I really like this idea, especially after [csstree](https://github.com/csstree/csstree) show it’s great parser with `nextToken` idea (with many other great ideas).

Do you want to update current parser and tokenizer? Or you could take `csstree` parser and try to connect it to PostCSS’ parser.

[2016-12-29 14:20] hzlmn commented on #939
I could do both, it's IMO a question to you and core team, what will be better for further plans.

[2016-12-29 16:22] ai commented on #939
@hzlmn I think you could start from backporting `csstree` tokenizer. If it possible, it will give a tokens streaming in the fastest way. If it is not possible we could try to add this feature to current tokenizer.

@lahmatiy do you think it is possible to backport `csstree` tokenizer to PostCSS?

[2016-12-29 17:05] hzlmn commented on #939
@ai Ok, I gonna read through`csstree` source to figure out what could be done.

[2016-12-30 11:00] hzlmn commented on #939
@ai As far as i can see, it is pretty possible to backport tokenizer from `csstree`. I started work on it and will create WIP pull request as soon as i can for ealier feedback.

[2016-12-30 11:17] ai commented on #939
Awesome! 😍🎅 Feel free to ask any help.

[2016-12-30 13:54] hzlmn commented on #939
@ai Seems like project' folder is getting bigger, what do you think about decoupling `parser`, `tokenizer` structures to external folders? It could close one spot here #503 .

[2016-12-30 13:58] ai commented on #939
Could you show some structure example?

But I think separating set and parser is a good thing.

[2016-12-30 15:20] tunnckoCore commented on #939
Externalizing tokenizer to separate package is even better thing. :D Such tokenizers works well for JSON parsing too. :)

[2016-12-30 15:23] ai commented on #939
@tunnckoCore you could write much better tokenizer for JSON only format :).

[2016-12-31 00:41] bcole808 commented on #882
+1, I am having a similar problem.

I use grunt-sass to first compile our SCSS into CSS files, then I use grunt-postcss to do autoprefixer and cssnano and I have noticed that:

- Sourcemaps output from just grunt-sass have correct line numbers
- Sourcemaps output from grunt-postcss often have incorrect line numbers, like 1

This is basically my configuration in grunt:

[code]

[2016-12-31 06:39] ai commented on #882
Sorry, I will take a look on it only in the end of January. Feel free to look into PostCSS code if you need fix faster.

[2017-01-03 02:16] jonathantneal commented on #882
@roose, thanks for sharing [an isolated example](https://github.com/roose/postcss-test) of your issue. I was able to replicate this in Firefox. Very curious.

I narrowed it down to the `precss` plugin you are using. When I swap that out for `postcss-import`, the source maps are correct in Firefox. I then double confirmed this by identifying a difference in the `mappings` field of the sourcemap. Go

[2017-01-03 11:40] VitaliyR commented on #928
I encountered this one also.

[2017-01-03 15:18] ai commented on #928
@VitaliyR how big files (in MB) did you parse?

[2017-01-03 15:21] VitaliyR commented on #928
@ai ~43MB of ~126 CSS files. A lot of templates.

[2017-01-03 15:32] ai commented on #928
@VitaliyR could you try to call `tokenize()` on them to detect is it a tokenizer issue, or a parser

[2017-01-03 15:33] ai commented on #928
@hzlmn now is working on taking `csstree` tokenizer to PostCSS, it will improve tokenizer memory usage https://github.com/postcss/postcss/issues/939

[2017-01-03 15:34] ai commented on #928
@VitaliyR does this 43 MB is in one file? Or you have many small files? Do you concat them?

do you use webpack or gulp?

Do you have such so big CSS because of inline images/font or it is a lot of rules?

[2017-01-03 15:36] VitaliyR commented on #928
@ai I can try, but at least, what debugger says - it is parser issue.
[code]

[2017-01-03 15:38] VitaliyR commented on #928
@ai as I mentioned above, **126 CSS** files with total size of about **43 MB**. No, they're not concated - they should be separated and they're come from SCSS. I'm using only grunt here.

3 inlined fonts and 5 svg icons (it should be many, don't it?)

[2017-01-03 15:50] ai commented on #928
@VitaliyR could you try to disable source map support (maybe memory problems came from `source-map` library?) Just disable maps in Sass and set `map: false` in PostCSS.

What size of the biggest CSS file?

[2017-01-03 15:55] VitaliyR commented on #928
@ai yes, it works. But we need that source maps :)

I think, the biggest one - 600kb.

[2017-01-03 16:31] ai commented on #928
@VitaliyR could you please create a issue in [source-map](https://github.com/mozilla/source-map) with full stacktrace and your project description. Also maybe you should give them one file with source map to investigation.

If problem came from this library they will know more how to fix it.

[2017-01-03 21:16] bcole808 commented on #882
Thanks for helping look into this, @jonathantneal!

I re-created the issue for you to see here:
https://github.com/bcole808/postcss-examples/commit/db5516b488d4130101480218c5a38c55d5f2b73f

And here is a quick video illustrating the problem:
http://www.bencole.net/s/2017-01-03_13-11-25.mp4

You can see in the video that I inspect the color of the link to see where the `color:red` property is being

[2017-01-04 10:16] VitaliyR commented on #928
@ai anyway there are a lot of problems in a current version of postcss because of source maps. Parsing them takes a lot of time, more than half of total build time.

For instance, with sourcemaps this project builds for 2m 47s (where 1m 44s postcss), and without them - 1m 55s(where 52s postcss). Damn, that's bad :(

Problem was fixed by fixing grunt-postcss locally - added possibility to handle CS

[2017-01-04 12:27] ai commented on #928
Why you so aggressive with me? :cry:

Do you know any other good source map library? Or maybe we could speed-up current one?

Did you try to optimize source map usage? For example, did you use `sourceContent`? It always biggest part of source map. If you need it, you can add it on last step of CSS pipeline.

Did you already create a issue about memory problems on `source-map`? It is very important

[2017-01-04 12:33] ai commented on #928
Seems like it is Grunt/source-map issue. I will close this issue.

[2017-01-04 12:33] #928 closed

[2017-01-04 12:41] zhangping2014 opened #943 "npm install postcss@5.2.8 error"
Error: unknown compression method (postcss@5.2.8) (/Users/drank/.npminstall_tarball/p/o/s/t/postcss/5.2.8-05720c49df23c79bda51fd01daeb1e9222e94390.tgz)
    at Zlib._handle.onerror (zlib.js:363:17)
npminstall version: 2.2.1
npminstall args: /usr/local/bin/node /usr/local/lib/node_modules/cnpm/node_modules/.bin/npminstall --china --userconfig=/Users/drank/.cnpmrc --disturl=https://npm.taobao.org/mir

[2017-01-04 12:45] ai commented on #943
Sorry, it is not relevant to PostCSS. You have some problems with npm at all.

[2017-01-04 12:45] #943 closed

[2017-01-04 12:47] zhangping2014 commented on #943
how can i fixed it

[2017-01-04 12:47] zhangping2014 commented on #943
how can i fixed it @ai

[2017-01-04 12:48] ai commented on #943
@zhangping2014 sorry, I don’t know :( I am not good in `npm`.

[2017-01-04 13:41] VitaliyR commented on #928
@ai Sorry for posting in closed issue, but I just need to..

Say sorry :) You're awesome!
Am I really aggressive? 😞

And yes, I'm creating an issue right now in `source-map` repo.

`sourcesContent` was set to false.

[2017-01-04 13:45] ai commented on #928
@VitaliyR OK, let’s wait for `source-map` authors help. I just use their API and don’t know internal structure to help in this case.

[2017-01-04 18:37] hzlmn commented on #939
@ai Nevermind, anyway it should be part of another PR.

Quick question, does current `parser` support passing `ignoreErrors` param, because as I can see [here](https://github.com/postcss/postcss/blob/master/lib/parser.es6#L23) , this [option](https://github.com/postcss/postcss/blob/master/lib/tokenize.es6#L29) never passed ?

[2017-01-04 18:39] ai commented on #939
I use this option in [Safe Parser](https://github.com/postcss/postcss-safe-parser).

[2017-01-04 19:06] alexturpin commented on #926
Hello!

Just wondering if there have been any updates on this? :)

[2017-01-04 19:12] ai commented on #926
Sorry, I am in other project. Because we had no other reports and problem is not critical this issue is low priority right now.

Do you want to try to fix it by your own? I will help you.

[2017-01-05 00:29] alexturpin commented on #926
No worries. It's not critical enough for me right now to focus time on fixing it, but if I ever come around to it I'll hit you up to ask for tips on where to look to fix it :)

Thanks

[2017-01-07 04:56] Dan503 opened #945 "PostCSS is erroring on aspect ratio media query"
I have downloaded the latest version of postCSS just to be sure it wasn't a version issue.

When I use this css, I get a "Cannot read property '1' of null" error

[code]

I am using gulp-postcss to run postCSS and the error still occurs even when I remove all postcss plugins.

The error doesn't seem to be impacting postCSS's ability to do it's job though. My postCSS plugins all still seem to be fu

[2017-01-07 05:28] Dan503 commented on #945
oh and I'm using gulp-sass to compile my css

[2017-01-07 07:06] ai commented on #945
Could you show full error stacktrace to see error source?

[2017-01-07 07:12] Dan503 commented on #945
This is all I'm seeing in my console. I'm not sure how to gather any more information than this.

![PostCSS error message](http://grabilla.com/07107-1eb9c1f8-f075-4501-9ac5-22ad43b5316c.png)

[2017-01-07 07:25] ai commented on #945
Try this one http://stackoverflow.com/questions/31410712/see-full-stack-trace-on-gulp-exception

Our other ideas from ` gulp full stacktrace` Google results.

[2017-01-07 07:52] Dan503 commented on #945
ahhh ok, it's not an error in postCSS. It's an error in the postCSS unMQ plugin. That makes sense, the plugin must not support ratio based queries.

When I disabled the unMQ plugin the error went away. (I forgot I had a second set of post-css plugins for compiling an IE8 stylesheet)

[2017-01-07 07:56] ai commented on #945
Please open a issue in MQ plugin repository.

[2017-01-07 07:56] #945 closed

[2017-01-09 05:09] jedmao opened #947 "Move TypeScript definitions to DefinitelyTyped"
TypeScript is gaining more and more traction these days, now publishing type definitions on npm as `@types/package-name`. @ai, if you still want to remove the TS definitions from this project, I can submit a PR to DefinitelyTyped and it will be published at [`https://www.npmjs.com/package/@types/postcss`](https://www.npmjs.com/package/@types/postcss) in the future; however, that is definitely not

[2017-01-09 05:12] jedmao opened #948 "Fix TypeScript module resolution"
TypeScript now has [better documentation explaining the publishing process of definition files](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html). Use this information to update file paths and module resolution so that it works properly in vscode and other supported editors.

[2017-01-09 06:56] ai commented on #947
I like to move type definitions, but I think it will be better for major release.

[2017-01-09 06:56] #948 closed

[2017-01-09 16:46] jedmao commented on #947
I can at least get a head start by publishing on DefinitelyTyped. My only concern is that the type definitions won't be in sync w/ the version of PostCSS that you install. Are you not concerned about that?

[2017-01-09 16:54] ai commented on #947
Can we have `@types/postcss6.0`, `@types/postcss6.1`?

[2017-01-09 17:02] jedmao commented on #947
Yeah, but there has to be a separate definition file and test for each version created, which is a bit messy.

See http://definitelytyped.org/guides/contributing.html

[2017-01-09 17:05] ai commented on #947
How DefinitelyTyped authors suggest to solve this problem?

[2017-01-09 17:20] jedmao commented on #947
Microsoft and DefinitelyTyped are working quite close together these days. This comes straight from the [TypeScript Publishing](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) doc:

bundling with your npm package, or

We can't publish a version directly to `@types/postcss`, because those are reserved and [published directly by Microsoft](https://www.typescriptlang.o

[2017-01-09 17:22] ai commented on #947
OK, let’s keep them inside if we have no good solution right now.

BTW, one file difintion is very good change :).

[2017-01-09 17:22] #947 closed

[2017-01-09 17:26] jedmao commented on #947
Excellent! For tracking purposes, I want everyone reading this thread to know that my [`jedmao/typescript`](https://github.com/jedmao/postcss/tree/typescript) branch is still how I'm generating `postcss.d.ts`. There is a bit of manual work required after building the project, unfortunately, but it's necessary right now.

[2017-01-12 05:45] IonicaBizau opened #951 "How to get the final font/image paths?"
Seems like `postcss` is pretty smart in fixing the font paths, but I'd like to get a list of the fonts paths and eventually modify them.

Currently I generate the bundle, but the fonts are not accessible in `node_modules`.
I'd like to modify the font paths like this: `node_modules/my-package/font.ext` :arrow_right: `/foo/node_modules/my-package/font.ext`. Also, my server will know that `/foo/node_

[2017-01-12 05:47] ai commented on #951
1. You can write any plugin with any logic. Just use [PostCSS API](http://api.postcss.org/) in custom plugin.
2. Some `url()` magic could be done more easy by [url option](https://github.com/postcss/postcss-url#url-function) in `postcss-url` plugin.

[2017-01-12 05:47] #951 closed

[2017-01-12 05:50] IonicaBizau commented on #951
@ai Wow, that was fast. :grin: Thanks!

I was just wondering that maybe someone else did this before. The `postcss-url` code may help to build my own.

[2017-01-12 14:28] creeperyang opened #952 "`sourcemap.sources` not update when `sourcemap.file` changes."
[code]

The new source map has a new `file` property, but the sources don't change.

Looks into `map-generator.es6`, it seems when we set `from` same to `to`, we will always get only filename as `sourceMap.file`. And the sources of previous sourceMap will not get updated.

[2017-01-12 18:48] ai commented on #952
Hi. Your investigation was great. Do you want to send PR?

[2017-01-12 23:50] michaelkuroda opened #954 "No longer able to import module in typescript"
As of version 5.2.10, we are not sure how to use postcss with typescript.

We import the module via:
`import * as postcss from 'postcss';`

And we could call like:
`postcss().process(mycss).then((result) => { ... }`

However, as of 5.2.10, when attempting to compile we get error like:

Attempting to change the import to:
`import postcss from 'postcss';`

Will compile okay, but causes issues when r

[2017-01-12 23:53] ai commented on #954
We need one extra PR from @jedmao

[2017-01-12 23:59] jedmao commented on #954
@michaelkuroda what version of TS are you using and are you also using Babel?

[2017-01-13 00:43] michaelkuroda commented on #954
@jedmao I see the problem with a simple project that only includes postcss and typescript v2.1.5. Does not include Babel or anything else.

[2017-01-13 02:56] creeperyang commented on #952
Ok, I'll have a try.

[2017-01-16 21:51] demrks opened #955 "Selector from AST does not match selector in stylesheet"
Some selectors from the AST that needs escaping, e.g. `.class\@test`, do not match the selector in the original stylesheet, see stylelint/stylelint#2263

Stylesheet: `.class\@test`
AST: `.class\\@test`

Is this intended or a bug in PostCSS?

[2017-01-16 21:54] ai commented on #955
A bug. But are you sure about `//` is really in strong and is not you decide tool way to show `/`. Could you check `rule.selector.length`?

[2017-01-16 21:59] demrks commented on #955
Sorry, I'm not that familiar with PostCSS, just noticed this behaviour while using stylelint that's using PostCSS to parse the styles. You can see it in this AST explorer: https://astexplorer.net/#/M8FFZ4wVEh

[2017-01-17 06:39] ai commented on #955
Yeap, everything correct. For example try `.class"@test" { }` it will be presented as `".class\"@test\""` (note about `\"` instead of `"`).

In JS `\` in string have a special meaning. For example `\n` is not a `\` and `n`, but it is new line. So `a\n` string could not be presented as `"a\n"`, because it mean that you have new line after `a`.

This is why `\` is escaped in JS. If you have `a\n` it

[2017-01-17 06:39] #955 closed

[2017-01-20 00:24] bernex opened #956 "How process inline styles?"
I wanna use postcss to process styles in html(parsed with parse5).

How to do it?

[2017-01-20 03:21] morlay commented on #954
Has same issue with TypeScript@2.1.x

it cause by
[code]

if we keep `module.exports = exports['default'];`
we have to use ` export = postcss;` instead of ` export default postcss;`

[2017-01-20 06:10] ai commented on #956
Try to use https://github.com/postcss/postcss-js
Maybe you need to convert c styles from parse5 to object.

[2017-01-20 06:10] #956 closed

[2017-01-20 07:33] #954 closed

[2017-01-20 08:27] bernex commented on #956
I think you do not understand question. PostCSS can't parse inline styles(parse5 output styles string), it does not hahe selector and brackets. How parse only brackets body and process with PostCSS?

[2017-01-20 08:29] ai commented on #956
Could you show example of parse5 output styles string?

[2017-01-20 09:11] bernex commented on #956
`display:flex;color:red;`

[2017-01-20 09:34] ai commented on #956
String `display:flex;color:red;` should be parsed without problems. What problems did you have?

[2017-01-30 18:38] aesopturtle opened #958 "postcss-cli do not copy folder structure from input files when pattern is used"
I am trying to compile multiple `*.pcss` files and have the `*.css` output sit in the same directory. For example, I have the following structure:
[code]
When running:
[code]
I expect:
[code]
But what I got is:
[code]
So there are 2 issues here:
1. The output doesn't have the same folder structure as the input when used with pattern.
2. I don't seem to be able to specify the output file extension

[2017-01-30 18:42] ai commented on #958
For example, Gulp behaviour:

1. Take all input files.
2. Find longest common path (`src/` in this example)
3. Work with files based on this root (`test1/1.pcss` in this example)

[2017-01-30 18:44] michael-ciniawsky commented on #958
We currently work on an complete CLI overhaul. Could you try ```npm i postcss/postcss-cli#develop``` for tessting out v3?

[code]

[code]

For extname I recommend just using `.css` 😛

[2017-01-30 18:45] ai commented on #958
@michael-ciniawsky PreCSS has too non-standard syntax, so `.pcss` is good choice in this way. Without it IDE will not be able to highlight all that custom syntax.